.specs {
  background: #fff;
  font-size: 14px;

  h3 {
    margin-bottom: 15px;
    font-size: 14px;
  }

  p {
    margin-bottom: 20px;
    font-size: 14px;
    color: $color-font-gray;
    line-height: 24px;
  }

  &__wrap {
    border: 1px solid $color-border-input;
    border-radius: 2px;
    padding: 30px 35px;
  }

  &__count {
    display: none;
  }

  &__slide {

    &_active {
      color: #d93a37;

      .specs__slide-content {
        display: flex;
      }

      .specs__count {
        display: flex;
      }

      .specs__slide-head .specs__slide-left .checkbox__label {
        color: #d93a37;
      }

      .specs__slide-head .specs__arrow {
        transform: translate(0, -50%) rotate(180deg);
      }
    }
  }

  &__slide-head {
    display: flex;
    margin-bottom: 14px;

    .specs__slide-left {
      box-sizing: border-box;
      padding-right: 70px;
      font-weight: 500;
      align-items: center;
      position: relative;
    }
  }

  &__slide-right {
    font-style: italic;

    .checkbox__label {
      color: $color-font-gray;
    }
  }

  &__slide-left {
    width: 370px;
    display: flex;

    &:hover {
      color: #d93a37;

      .checkbox__label {
        color: #d93a37;
      }
    }
  }

  &__slide-content {
    display: none;
    flex-direction: column;

    .specs__slide-left {
      padding-left: 40px;
    }

    .checkbox {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 14px;
  }

  &__arrow {
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translate(0, -50%) rotate(0);
    cursor: pointer;
  }

  .checkbox__label {
    white-space: normal;
  }
}
