.header {
  display: flex;
  box-shadow: 0 10px $big-shadow;
  min-height: 80px;
  position: relative;
  z-index: 10;

  &__searchbar { flex: 1; }

  &__col {
    border-left: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    padding: 16px;
    min-height: 100%;

    &_contacts-block {
      text-align: right;
      padding: 13px 20px 13px 35px;
    }

    &_link-button {
      padding: 0;

      .icon-link {
        padding: 16px 38px;
        min-height: 100%;
      }
    }

    &_order, &_message, &_profile {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 7px 16px;
    }

    &_order {
      min-width: 132px;
      width: 11%;
    }

    &_message {
      min-width: 232px;
      width: 19%;
    }

    &_profile {
      min-width: 100px;
      width: 11%;
      border-right: 1px solid #e5e5e5;
      margin-right: 50px;
    }
  }

  &__avatar {
    position: relative;
    width: 68px;
    height: 68px;
    overflow: hidden;
    border: 2px solid $color-main;
    border-radius: 50%;
    background-color: $color-font;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      margin: auto;
      object-fit: cover;
    }
  }
}
