include ../../blocks/searchbar/searchbar
include ../../blocks/contacts-block/contacts-block
include ../../blocks/icon-link/icon-link
include ../../blocks/avatar/avatar

mixin header(authorization)
  +b.header&attributes(attributes)
    +searchbar("Поиск интересуещего вас вопроса").header__searchbar
    - if (!authorization)
      +e.col._contacts-block
        +contacts-block(getData('header-contacts'))
      +e.col._link-button
        +icon-link("http://placehold.it/21x21", "Войти")(href="#" data-open-popup="popup-login" class="js-popup-open")
    - else
      +e.col_order
        +icon-link("", "Заказы", "comment-o")._big
          +e.SPAN.counter
      +e.col_message
        +icon-link("", "Сообщения", "envelope-o")._big
          +e.SPAN.counter (1)
      +e.col_profile
        +avatar("assets/images/profile-avatar.jpg")._small._blue-border._dark-bg.__avatar
