.header {
  display: flex;
  box-shadow: 0 10px $big-shadow;
  min-height: 80px;
  position: relative;
  z-index: 10;

  &__login-button .icon-link__icon {
    fill: transparent;
    stroke: #4993ea;
    height: 36px;
    width: 36px;
  }

  &__searchbar {
    flex: 1;
  }

  &__col {
    border-left: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    padding: 16px;
    min-height: 100%;

    &_contacts-block {
      text-align: right;
      padding: 13px 20px 13px 35px;

      @include tablet {
        padding: 13px 16px;
      }
    }

    &_link-button {
      padding: 0;

      .icon-link {
        padding: 16px 38px;
        min-height: 100%;

        @include tablet {
          padding: 13px 16px;
        }
      }
    }

    &_order, &_message, &_profile, &_request {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 7px 16px;

      .icon-link {
        white-space: nowrap;
      }
    }

    &_request {
      min-width: 170px;
      min-width: 16.4%
    }

    &_order {
      min-width: 132px;
      width: 11%;
    }

    &_message {
      min-width: 232px;
      width: 19%;
    }

    &_profile {
      min-width: 100px;
      width: 11%;
      border-right: 1px solid #e5e5e5;
      margin-right: 50px;

      @include tablet {
        margin-right: 10px;
      }
    }
  }
}
