include ../../blocks/searchbar/searchbar
include ../../blocks/contacts-block/contacts-block
include ../../blocks/icon-link/icon-link
include ../../blocks/avatar/avatar
include ../../blocks/header-profile/header-profile

mixin header(authorization, request)
  +b.header&attributes(attributes)
    +searchbar("Поиск интересуещего вас вопроса").header__searchbar
    - if (request)
      +e.col_request
        +icon-link("", "Моя заявка", "bell-o")._big
    - if (!authorization)
      +e.col._contacts-block
        +contacts-block(getData('header-contacts'))
      +e.col._link-button
        +icon-link("menu-9", "Войти")(href="#" data-open-popup="popup-login" class="js-popup-open").__login-button
    - else
      +e.col_order
        +icon-link("", "Заказы", "comment-o")._big
          +e.SPAN.counter
      +e.col_message
        +icon-link("", "Сообщения", "envelope-o")._big
          +e.SPAN.counter (1)
      +e.col_profile
        +header-profile.__profile

