include ../profile-control/profile-control
include ../note/note
include ../button/button

mixin profile-note(status)
  -var noteAcitve = ""
  -var buttonActive = ""
  -var restoreActive = ""
  +b.profile-note&attributes(attributes)
    case status
      when 'note'
        - noteActive = " active"
      when 'control'
        - buttonActive = " active"
      when 'remove'
        - restoreActive = " active"
      default
        - break
    +e(class="notice" + noteActive)
      +note("Мы сделали плагин, который подсчитывает количество символов и слов в тексте в режиме онлайн, причём отдельно отображается количество символов с пробелами и без пробелов.", true, true)._big.__note
    +e(class="control" + buttonActive)
      +profile-control("note", "Создать заметку", "pencil", "", true)._title-vision.__button
    +e(class="restore" + restoreActive)
      +e.P Заметка была удалена
      +button('button')._text.__restore Восстановить

