.control-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 0;
  cursor: pointer;

  &_back {

    .control-link {

      &__icon {
        order: 1;
        margin-right: 10px;
      }

      &__name {
        order: 2;
      }
    }
  }

  &_next {

    .control-link {

      &__icon {
        order: 2;
        margin-left: 10px;
      }

      &__name {
        order: 1;
      }
    }
  }

  &__icon {
    font-size: 18px;
    color: $color-main;
    transition: all .25s ease-in-out;
  }

  &__name {
    font-size: 14px;
    line-height: 1em;
    letter-spacing: .04em;
    font-weight: 400;
    color: $color-main;
    transition: all .25s ease-in-out;
  }

  &:hover {

    .control-link {

      &__icon {
        color: rgba($color-main, .8);
      }

      &__name {
        color: rgba($color-main, .8);
      }
    }
  }
}
