include ../../blocks/page-title/page-title
include ../../blocks/short-request/short-request
include ../../blocks/button/button

mixin lk-specialist-order(status)
  +b.lk-specialist-order&attributes(attributes)
    -var data = getData('order-requests')
    +page-title("Мои заказы").__title
    +e.status
      +e.status-text Статус:
      +e('ul').status-list
        +e('li').status-item
          +e.A(href="#") Все
            +e('span').count (7)
        +e('li').status-item
          +e.A(href="#") Откликнулся
            +e('span').count (1)
        +e('li').status-item
          +e.A(href="#") Приглашен
            +e('span').count (1)
        +e('li').status-item
          +e.A(href="#") Кандидат
            +e('span').count (1)
        +e('li').status-item
          +e.A(href="#") Исполнитель
            +e('span').count (1)
        +e('li').status-item
          +e.A(href="#") Отказали
            +e('span').count (1)
        +e('li').status-item
          +e.A(href="#") Отказался
            +e('span').count (1)
        +e('li').status-item
          +e.A(href="#") В корзине
            +e('span').count (2)
    +e.UL.list
      +e.LI.request-item
        +e.info
          +e.info-status
            +e.info-title Откликнулся
            +button('button')._text._noborder._bold.__button Отказаться
          +e.info-message
            +e.A.message 1 новое сообщение
        +short-request(data[0], false).__item
      -for (var k = 0; k < 6; k++) {
        +e.LI.request-item
          case k
            when 0
              +e.info
                +e.info-status
                  +e.info-title Приглашен
                  +button('button')._text._noborder._bold.__button Отказаться
                +e.info-message
                  +e.A.message Сообщение не прочитано
            when 1
              +e.info
                +e.info-status
                  +e.info-title Вы исполнитель
            when 2
              +e.info
                +e.info-status
                  +e.info-title Вы отказались от заказа
                  +button('button')._text._noborder._bold.__button В корзину
            when 3
              +e.info
                +e.info-status
                  +e.info-title Кандидат
                  +button('button')._text._noborder._bold.__button Отказаться
                +e.info-message
                  +e.A.message Сообщение не прочитано
            when 4
              +e.info
                +e.info-status
                  +e.info-title Вам отказали
                  +button('button')._text._noborder._bold.__button Отказаться
            when 5
              +e.info
                +e.info-status
                  +e.info-title В корзине
                  +button('button')._text._noborder._bold.__button Восстановить из корзины
            default
             - break
          +short-request(data[1], false).__item
      -}
