.paginator {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 24px;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__link {
    width: 33px;
    height: 33px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.67em;
    font-weight: 400;
    letter-spacing: .04em;
    color: $color-font;
    border-radius: 50%;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:hover {
      background-color: #fff;
      box-shadow: 0 0 13px rgba($color-paginator-shadow, .42);
      color: #000;
    }

    .paginator__item.active &, .paginator__item.active &:hover {
      background-color: $color-main;
      color: #fff;
      box-shadow: none;
    }
  }

  &__prev, &__next {
    cursor: pointer;
    transition: all .25s ease-in-out;
  }

  &__icon {
    width: 10px;
    height: 20px;
    fill: $color-font;
    transition: all .25s ease-in-out;
  }

  &__prev:hover, &__next:hover {

    .paginator__icon {
      fill: $color-main;
    }
  }

  &__next {
    transform: rotate(180deg);
  }
}
