extends ../../layouts/default
include ../../blocks/sitemaplist/sitemaplist

block head
  - var pageTitle = 'Wiki Pravo — Главная'

block content
  +sitemaplist
      
block page-left
  +sidebar
  
block page-top
  +header
