extends ../../layouts/default
include ../../components/specs/specs

block head
  - var pageTitle = 'Wiki Pravo — Главная'

block content
  +specs
      
block page-left
  +sidebar
  
block page-top
  +header
