extends ../../layouts/default
include ../../components/sitemaplist/sitemaplist

block head
  - var pageTitle = 'Wiki Pravo — Главная'

block content
  +sitemap-list
      
block page-left
  +sidebar
  
block page-top
  +header
