.popup-lawyer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 905px;
  height: 758px;
  padding: 30px 50px;

  &__title {
    width: 100%;
    letter-spacing: .04em;
    margin-bottom: 30px;
  }

  &__form {
    width: 100%;
  }

  &__switch-radio {
    display: none;
  }

  &__switches {
    width: 100%;
  }

  &__switch-btn {
    position: relative;
    height: 55px;
    flex: 1;
    z-index: 2;

    &:not(:first-child) {
      z-index: 1;
      margin-left: -1px;
    }
  }

  &__text {
    display: inline-block;
    font-size: 15px;
    letter-spacing: .04em;
    line-height: 55px;
    text-align: center;
    border: 1px solid #dadada;
    background-color: #fff;
    width: 100%;
    height: 100%;
    color: #000;
    cursor: pointer;
  }

  &__switch-radio:checked ~ label, &__switch-btn.active {
    background-color: #2b7de4;
    color: #fff;
    border-color: #2b7de4;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;

    &_reverse {
      flex-direction: row-reverse;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;

    &_field {
      min-width: 445px;
      width: 445px;
      margin-right: 22px;
    }

    &_comment {
      justify-content: center;
      flex: 1;
      width: 100%;
    }

    &_shift {
      padding-left: 35px;
    }
  }

  &__subtitle {
    width: 100%;
    margin-bottom: 24px;

    &_small {
      margin-top: 10px;
    }
  }

  &__comment {
    font-size: 13px;
    letter-spacing: .04em;
    font-weight: 400;
    color: rgba(#08090d, .5);
    line-height: 1.5em;
    width: 100%;
    text-align: left;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
  }

  &__lawyer, &__notlawyer {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;

    &.active {
      display: flex;
    }
  }

  &__lawyer {
    margin-bottom: 14px;
  }

  &__notlawyer {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  &__input, &__files {
    width: 100%;
  }
}
