include ../../blocks/section-title/section-title
include ../../blocks/input/input
include ../../blocks/input-password/input-password
include ../../blocks/button/button
include ../../blocks/label-field/label-field
include ../../blocks/selectbox/selectbox
include ../../blocks/avatar-browse/avatar-browse
include ../../blocks/warning/warning
include ../specs/specs

mixin personal-data(jurist)
  +b.FORM.personal-data&attributes(attributes)
    +section-title("Логин и пароль").__title
    +e.row_table
      +label-field("Латинские буквы и цифры, от 8 до 32 символов", "userlogin").__field_second
        +input(type="text" id="userlogin" placeholder="Логин" pattern="[A-Za-z0-9]{8,32}" required)
      +label-field("Латинские буквы и цифры, от 10 до 32 символов", "password").__field_second
        +input-password("Пароль", "password", "[A-Za-z0-9]{10,32}")
    +e.row
      +label-field("Требуется для восстановления пароля и входа", "phone").__field_second._phone
        +input(type="tel" id="phone" placeholder="Телефон" pattern="[0-9]{11}" required)
      +e.field_second._password-repeat
        +input-password("Повторить пароль", "password-repeat", "[A-Za-z0-9]{10,32}").__nolabel
    +section-title("Местоположение").__title
    +e.row
      +selectbox(getData("selectbox-region"))._light._height._scrollable.__field_second
      +selectbox(getData("selectbox-searchform-city"))._light._height._scrollable.__field_second
    +section-title("Дата рождения").__title
    +e.row
      +selectbox(getData("selectbox-day"))._light._height._scrollable.__field_third
      +selectbox(getData("selectbox-month"))._light._height._scrollable.__field_third
      +selectbox(getData("selectbox-year"))._light._height._scrollable.__field_third
    +section-title("Ваше фото").__title_photo
    +e.row_photo
      +avatar-browse("Выберите файл").__avatar
      +e.describe
        +warning("Файл не выбран").__photo-warning
        +e.P
          | Загружайте реальное фото, оно будет отображаться в Вашем профиле Размер фото не должен превышать 5 Мб, доступные форматы  jpg, jpeg, png, bmp
    +button-arrow("button")(type="submit")._blue.__button Завершить регистрацию

