.personal-data {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 24px 96px 0;

  &__title {
    width: 100%;
    margin-bottom: 32px;

    &_photo {
      margin-bottom: 20px;
    }

    &_twothird {
      flex: 1;
      margin-right: 26px;
    }

    &_third {
      width: 268px;
      min-width: 268px;
    }
  }

  &__row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    margin-bottom: 37px;

    &_table {
      margin-bottom: 19px;
    }

    &_photo {
      margin-bottom: 36px;
    }

    &_nomargin {
      margin-bottom: 0;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;

    &_second {

      &:not(:nth-of-type(2n)) {
        margin-right: 19px;
      }
    }

    &_third {

      &:not(:nth-of-type(3n)) {
        margin-right: 39px;
      }
    }

    &_rospravo {
      flex: 1;
      margin-right: 26px;
    }

    &_experience {
      width: 270px;
      min-width: 270px;
    }
  }

  &__nolabel {
    margin-top: auto;

    &_reverse {
      margin-top: 0;
      margin-bottom: auto;
    }
  }

  &__password {
    width: 100%;
    flex: 1;
  }

  &__avatar {
    margin-right: 54px;
  }

  &__photo-warning {
    margin-bottom: 12px;
  }

  &__describe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;

    p {
      font-size: 14px;
      line-height: 1.78em;
      font-weight: 300;
      letter-spacing: .03em;
      color: #b1b1b1;
      width: 100%;
    }

    &_dark {

      p {
        color: rgba($color-font, .5);
      }
    }

    &_centered {

      p {
        text-align: center;
      }
    }

    &_bold {

      p {
        font-weight: 400;
      }
    }
  }

  &__specs-title {
    flex: auto;
    width: 100%;
  }

  &__specs {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 27px;
  }

  &__button {
    width: 100%;
  }

  &_jurist {
    padding: 58px 77px 0;

    .personal-data {

      &__title {
        margin-bottom: 16px;

        &_specs {
          margin-bottom: 10px;
        }
      }

      &__row {
        margin-bottom: 38px;

        &_table {
          margin-bottom: 27px;
        }

        &_photo {
          margin-top: 26px;
          margin-bottom: 68px;
        }

        &_nomargin {
          margin-bottom: 0;
        }
      }

      &__field {

        &_second {

          &:not(:nth-of-type(2n)) {
            margin-right: 27px;
          }
        }

        &_third {

          &:not(:nth-of-type(3n)) {
            margin-right: 30px;
          }
        }

        &_rospravo {
          flex: 1;
          margin-right: 26px;
        }

        &_experience {
          flex: 0;
          width: 268px;
          min-width: 268px;
        }
      }
    }
  }
}
