.specialization {

  &__item {
    font-size: 14px;
    line-height: 2.14em;
    font-weight: 500;
    letter-spacing: .04em;
  }

  &__sublist {
    padding: 5px 0;
  }

  &__subitem {
    font-size: 13px;
    line-height: 1.54em;
    font-weight: 400;
    letter-spacing: .04em;
    color: $color-offline;
  }
}
