.specialization {

  &__item {
    font-size: 14px;
    line-height: 2.14em;
    font-weight: 500;
    letter-spacing: .04em;

    a {
      font-size: inherit;
      letter-spacing: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      text-decoration: none;
      transition: all .25s ease-in-out;

      &:hover {
        opacity: .6;
      }
    }
  }

  &__sublist {
    padding: 5px 0;
  }

  &__subitem {
    font-size: 13px;
    line-height: 1.54em;
    font-weight: 400;
    letter-spacing: .04em;
    color: $color-offline;
  }

  &_marked {
    .specialization__item {
      position: relative;
      padding: 0 12px;
      line-height: 1.5em;
      color: $color-main;

      &:hover {
        opacity: 1;
        color: rgba($color-main, .6);
      }

      &_main {

        &::before {
          position: absolute;
          content: '';
          top: 10.5px;
          left: 0;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          transform: translate(0, -50%);
          background-color: $color-main;
          transition: all .25s ease-in-out;
        }

        &:hover::before {
          background-color: rgba($color-main, .6);
        }
      }
    }

    .specialization__sublist {
      padding-top: 10px;
      padding-bottom: 0;
    }

    .specialization__subitem {
      position: relative;
      font-weight: 300;
      color: #b6b6b6;

      &_main {

        &::before {
          position: absolute;
          content: '';
          top: 10px;
          left: -12px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          transform: translate(0, -50%);
          background-color: rgba(#b6b6b6, .65);
        }
      }
    }
  }
}
