.payment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0 15px;
  min-height: 63px;
  border: 1px solid rgba(#05060a, .15);
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
  transition: all .25s ease-in-out;

  &__image {
    margin-right: 8px;
  }

  &__name {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .04em;
    line-height: 1.23em;
    color: #30323e;
    text-align: left;
    transition: all .25s ease-in-out;
  }

  &:hover {
    border: 1px solid $color-main;

    .payment__name {
      color: $color-main;
    }
  }

  &_cards {

    .payment__image {
      width: 32px;
      min-width: 32px;
      height: 21px;
    }
  }

  &_yandex {

    .payment__image {
      width: 27px;
      min-width: 27px;
      height: 36px;
    }
  }

  &_webmoney {

    .payment__image {
      width: 35px;
      min-width: 35px;
      height: 35px;
    }
  }

  &_sber {

    .payment__image {
      width: 33px;
      min-width: 33px;
      height: 32px;
    }
  }

  &_alfa {

    .payment__image {
      width: 23px;
      min-width: 23px;
      height: 36px;
    }
  }

  &_payafter {

    .payment__image {
      width: 37px;
      min-width: 37px;
      height: 37px;
    }
  }
}
