.account {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 38px 50px;
  background-color: $color-bg-index;

  &__title {
    margin-bottom: 38px;
    width: 100%;
  }

  &__info {
    margin-bottom: 30px;
    width: 100%;
  }
}
