.entitled-text {
  h2, &__title {
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: 0.044em;
  }

  p, &__text {
    font-size: 14px;
    line-height: 2.1em;
    letter-spacing: 0.034em;
    opacity: 0.6;
  }
}
