.entitled-text {

  h2 {
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: .065em;
    font-weight: 400;
  }

  p {
    font-size: 14px;
    line-height: 2.14em;
    letter-spacing: .035em;
    color: rgba($color-font, .6);
  }

  &_title {

    h2 {
      margin-bottom: 13px;
      letter-spacing: .05em;
    }

    p {
      line-height: 1.78em;
      letter-spacing: .04em;
    }
  }

  &_grey {

    p {
      color: $color-placeholder;
    }
  }
}
