.entitled-text {
  h2 {
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: .06em;
    font-weight: 400;
  }

  p {
    font-size: 14px;
    line-height: 2.14em;
    letter-spacing: .034em;
    color: rgba($color-font, .6);
  }
}
