.block-title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: .06em;
  line-height: 1.75em;
  color: $color-font;

  &_bold {
    font-weight: 500;
  }

  &_bolder {
    font-weight: 700;
  }

  &_small {
    font-size: 14px;
  }

  &_dark {
    color: #212121;
  }
}
