.short-request {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #fff;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 14px 39px 0;

    @media (max-width: 1700px) {
      flex-wrap: wrap;
    }
  }

  &__title {
    min-width: 300px;
    margin-right: 50px;
    margin-bottom: 14px;

    a {
      font-size: 20px;
      line-height: 1.4em;
      letter-spacing: .06em;
      font-weight: 400;
      color: $color-main;
      padding-bottom: 3px;
      border-bottom: 1px solid $color-main;
      transition: all .25s ease-in-out;

      &:hover {
        color: rgba($color-main, .8);
        border-color: rgba($color-main, .8);
      }
    }

    @include desktop {
      width: calc(100% - 170px);
    }
  }

  &__action-controls {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 14px;

    @include desktop {
      margin: 0 0 14px;
    }
  }

  &__condition {
    display: inline-flex;
    margin-left: 50px;
    box-sizing: border-box;
    padding: 8px 20px;
    background-color: $color-bg-index;
    white-space: nowrap;
    margin-bottom: 14px;

    @include desktop {
      margin-left: 0;
      margin-right: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dadada;
    border-left-width: 0;
    border-right-width: 0;
    padding: 24px 39px;

    p {
      font-size: 14px;
      line-height: 1.78em;
      font-weight: 400;
      letter-spacing: .04em;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 24px 39px;
  }

  &_nohead {

    .short-request {

      &__content {
        border-top-width: 0;
      }
    }
  }
}
