.index-advantages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;

  @include desktop {
    flex-wrap: wrap;
  }

  &__left-col, &__right-col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 30px;
    margin-bottom: 10px;

    @include desktop {
      width: 100%;
    }
  }

  &__left-col {
    z-index: 1;

    .index-advantages__header {
      background-color: $color-red;
    }
  }

  &__right-col {
    z-index: 2;
    box-shadow: -10px 0 $big-shadow;

    @include desktop {
      box-shadow: 0 10px $big-shadow;
    }
  }

  &__describe {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 100px 30px 49px;
    font-size: 14px;
    line-height: 2.14em;
    color: $color-font;
    letter-spacing: .034em;
    margin-bottom: 10px;

    b {
      font-size: inherit;
      color: inherit;
      letter-spacing: inherit;
      line-height: inherit;
      font-weight: 700;
    }
  }

  &__list {
    box-sizing: border-box;
    width: 100%;
    padding: 0 49px;
  }
}
