extends ../../layouts/default

block head
  - var pageTitle = 'Wiki Pravo — Сообщения'

block content
  +b.user-messages
    +page-title("Сообщения").__title
    +person-card("Юрий Петров", "", "55 минут назад (последние изменения: 29.09.2016 | 00:50)", true, true, "Карачаево-Черкесская республика").__person
    +message("", "Введите сообщение").__message-form
    +user-correspondence.__correspondence

block page-left
  +sidebar

block page-top
  +header(true)

block page-bottom
  +footer

block page-popups
  +popups
    +popup-login
