.index-lawyers {
  box-sizing: border-box;
  padding: 0 20px 0 48px;

  &__header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 0 32px;
  }

  &__select {
    margin: 18px 0 0 auto;
  }

  &__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    box-sizing: border-box;
    width: 49.5%;
    margin-bottom: 7px;
  }

  &__link {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 26px 37px;
    text-align: center;
    background-color: white;
    z-index: 1;

    a {
      font-size: 18px;
      color: $color-main;
      line-height: 1.67em;
      letter-spacing: .044em;
      text-decoration: none;
      border-bottom: 1px solid rgba($color-main, .3);
      transition: all 0.25s ease-in-out;
      cursor: pointer;

      &:hover {
        border-color: transparent;
      }
    }
  }
}
