include ../../blocks/entitled-text/entitled-text
include ../../blocks/citylist/citylist
include ../../blocks/selectbox/selectbox
include ../../blocks/lawyercard/lawyercard
include ../../blocks/block-link/block-link

mixin index-lawyers()
  -var data = getData('index-lawyers')
  +b.SECTION.index-lawyers&attributes(attributes)
    +e.header
      +entitled-text(data.title).__text
      +selectbox(getData('lawyers-city-list'), 'Город:')._link.__select
    +e.list
      each item in data.lawyers
        +lawyercard(item).__item
    +block-link(data.link).__link
