include ../../blocks/entitled-text/entitled-text
include ../../blocks/citylist/citylist
include ../../blocks/lawyercard/lawyercard
include ../../blocks/block-link/block-link

mixin index-lawyers()
  -var data = getData('index-lawyers')
  +b.SECTION.index-lawyers&attributes(attributes)
    +e.header
      +entitled-text(data.title).__text
      +citylist(getData('sidebar-city-list')).__select
    +e.list
      each item in data.lawyers
        +lawyercard(item).__item
    +block-link(data.link).__link
