.breadcrumbs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  &__item {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 7px;

    a {
      font-size: 13px;
      line-height: 2.77em;
      letter-spacing: .035em;
      color: $color-breadcrumbs-text;
      margin-right: 8px;
    }

    i {
      font-size: 18px;
      color: $color-breadcrumbs-text;
    }

    svg {
      width: 12px;
      height: 9px;
      fill: rgba(#000, .35);
    }

    &:last-child {
      margin-right: 0;

      a {
        color: $color-main;
        cursor: default;
      }

      i {
        display: none;
      }
    }
  }
}
