.breadcrumbs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  &__item {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 7px;

    a {
      font-size: 13px;
      line-height: 2.77em;
      letter-spacing: .035em;
      color: $color-main;
      margin-right: 8px;
      transition: all .25s ease-in-out;

      &:hover {
        color: rgba($color-main, .6);

        svg {
          fill: rgba($color-main, .35);
        }
      }
    }

    i {
      font-size: 18px;
      color: $color-main;
    }

    svg {
      width: 12px;
      height: 9px;
      fill: $color-main/*rgba(#000, .35)*/;
    }

    &:last-child {
      margin-right: 0;

      a {
        color: $color-breadcrumbs-text;
        cursor: default;
      }

      i {
        display: none;
      }
    }
  }
}
