.steps {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 10px 0;

  &__item {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding-left: 82px;
    font-size: 14px;
    letter-spacing: .04em;
    font-weight: 700;
    line-height: 1.43em;
    color: #c6c6c6;
    width: 260px;
    min-width: 260px;
    min-height: 63px;
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.complete {
      color: $color-green-dark;
    }
  }

  &__mark {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 0;
    width: 62px;
    height: 62px;
    font-size: 25px;
    letter-spacing: .04em;
    line-height: 62px;
    font-weight: 400;
    border-radius: 50%;
    color: #c6c6c6;
    border: 1px solid #bdbdbd;
    transform: translate(0, -50%);

    .steps__item.complete & {
      color: $color-green-dark;
      border-color: $color-green-dark;
    }
  }

  &_long {

    .steps {

      &__item {
        width: 215px;
        min-width: 215px;
        
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
