.request-status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  box-sizing: border-box;
  padding: 12px 40px;

  &__title {
    margin-right: 10px;
    letter-spacing: .05em;
  }

  &__describe {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .04em;
    color: #b3b3b3;
    margin-right: 46px;
  }
}
