.request-status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 23px 40px;

  &__title {
    margin-right: 15px;
  }

  &__describe {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .04em;
    color: #b3b3b3;
    margin-right: 50px;
  }
}
