include ../note/note
include ../profile-control/profile-control

mixin action-controls-nonote(favoriteState, blacklistState)
  +b.action-controls_nonote&attributes(attributes)
    +profile-control("favorites", "В избраное", "star", favoriteState).__button_favorites
    +profile-control("blacklist", "В черный список", "lock", blacklistState).__button_blacklist
