.popup-location {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 20px 21px 16px;
  border-radius: 2px;
  background-color: #fff;
  width: 289px;
  min-height: 150px;
  visibility: hidden;

  @include s-desktop {
    width: 240px;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 30px;
    border: 10px solid transparent;
    border-left-width: 12.5px;
    border-right-width: 12.5px;
    border-bottom-color: #fff;
    transform: translate(0, -100%);
  }

  &_top {

    &::before {
      top: auto;
      bottom: 0;
      border-bottom-color: transparent;
      border-top-color: #fff;
      transform: translate(0, 100%);
    }
  }

  p {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: .04em;
    font-weight: 400;
    color: #000;

    &:not(:last-of-type) {
      margin-bottom: 7px;
    }
  }

  &__city {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: 400;
    color: inherit;
  }

  &__bold {
    font-weight: 500 !important;
  }

  &__buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 12px;
    margin-top: 17px;
    width: 100%;

    @include s-desktop {
      padding: 0;
    }
  }

  &__button {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;

    &:not(:last-of-type) {
      margin-right: 13px;
    }
  }
}
