.filter-controls {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  width: 100%;

  &__controls {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    padding: 21px 36px;
  }

  &_end {

    .filter-controls__controls {
      justify-content: flex-end;
    }
  }

  &_widepadding {

    .filter-controls__controls {
      padding: 28px 97px;
    }

    .filter-controls__content {
      padding: 8px 116px 48px;

      @include tablet {
        padding: 8px 50px 48px;
      }
    }
  }

  &__open-btn, &__reset-btn {
    line-height: 1em;
    letter-spacing: .05em;
    cursor: pointer;

    .button__name {
      line-height: inherit;
      letter-spacing: inherit;
    }
  }

  &__open-btn {
    display: inline-block;
    white-space: nowrap;

    .button__name {
      padding-right: 8px;
    }

    .button__arrow {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__reset-btn {
    display: none;
    padding-bottom: 5px;
    margin-left: 47px;
  }

  &.opened {

    .filter-controls__reset-btn {
      display: inline-block;
    }

    .filter-controls__content {
      display: flex;
    }

    .filter-controls__open-btn {

      .button__arrow {
        transform: rotate(-180deg);
      }
    }
  }

  &__content {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding: 36px 38px 30px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;

    @include desktop {
      flex-wrap: wrap;
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    &_checkboxes {
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap;
      margin-bottom: 0;
    }
  }

  &__field {
    width: 23.4%;

    @include desktop {
      width: 48%;
      margin-bottom: 30px;
    }

    &_category {
      order: 1;
    }

    &_location {
      order: 3;

      @include desktop {
        order: 2;
      }
    }

    &_document {
      order: 2;

      @include desktop {
        order: 3;
      }
    }
  }

  &__inputfield {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    width: 17.2%;

    @include desktop {
      width: 48%;
      margin-bottom: 30px;
    }

    &_experience {
      order: 4;
    }

    input {
      width: 46.9%;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 2.14em;
    font-weight: 400;
    color: $color-font;
    min-width: 100%;
    white-space: nowrap;

    &_small {
      font-size: 13px;
      line-height: 2.3em;
    }

    &_bold {
      font-weight: 500;
    }
  }

  &__grouplabel {
    font-size: 14px;
    line-height: 1.43em;
    font-weight: 400;
    color: $color-font;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &_bold {
      font-weight: 500;
    }
  }

  &__checkbox {
    box-sizing: border-box;
    min-width: 170px;
    margin-bottom: 26px;

    &:not(:last-of-type) {
      margin-right: 50px;

      @include desktop {
        margin-right: 4%;
      }
    }

    @include desktop {
      min-width: 48%;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }

  &__button {
    min-width: 44.4%;
    min-height: 54px;

    @include s-desktop {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .selectbox__option {
      text-align: center;
    }
  }

  &_requests {

    .filter-controls {

      &__row {
        justify-content: flex-start;
      }

      &__row {
        flex-wrap: wrap;

        &:not(:last-of-type) {
          margin-bottom: 0;
        }
      }

      &__checkbox {
        min-width: 130px;

        &:not(:last-of-type) {
          margin-right: 35px;
        }
      }

      &__field {
        margin-bottom: 30px;
      }

      &__field, &__button {
        min-width: 402px;

        &:not(:last-of-type) {
          margin-right: 20px;
        }

        @include desktop {
          min-width: calc(50% - 10px);
          margin-right: 20px;

          &:nth-of-type(2n) {
            margin-right: 0;
          }
        }
      }

      &__label {
        display: inline-block;
        margin-bottom: 9px;
      }
    }
  }
}
