.request-candidate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding: 26px 50px;
  background-color: $color-bg-index;
}
