include ../button/button

mixin comment(author, date, editable, button, hide, arbitr)
  -var addClass = ""
  -if(editable) {addClass = '_blue'} else {addClass = '_lightblue'}
  -if(arbitr) {addClass = '_yellow'}
  +b(class="comment" + addClass)&attributes(attributes)
    -if(button)
      +e.buttons
        -if(editable) {
          +button('button')(type='button')._text._noborder.__button_edit Редактировать
          +button('button')(type='button')._text._noborder.__button_remove Удалить
        -} else {
          -if(!arbitr)
            +button('button')(type='button')._text._noborder.__button_complain Пожаловаться
        -}
    +e.BLOCKQUOUTE.content
      +e.CITE.info
        +e.SPAN.author= author
        +e.TIME.date= date
        -if(hide)
          +e.SPAN.hide= hide
      +e.text
        block

