include ../../blocks/entitled-text/entitled-text
include ../../blocks/tab-toggles/tab-toggles
include ../../blocks/category/category
include ../../blocks/block-link/block-link-changeable

mixin index-categories()
  -var data = getData('index-categories')
  +b.SECTION.index-categories&attributes(attributes)
    +e.header
      +entitled-text(data.header).__text
      +tab-toggles(getData('index-categories-tabs')).__buttons
    - var tabnumber = 0;
    +e.tabs-container(data-tab-group-container="categories")
      each tab in data.tabs
        - tabnumber += 1;
        - if (tab.active) {var addClass = "active"} else {var addClass = ""}
        +e.content(class=addClass data-tab-group="categories" data-tab-id="categories"+tabnumber)
          +e.list
            each list in tab.categories
              +category(list).__item(data-toggle-block= list.block)
          +block-link-changeable(tab.link.href, tab.link.target).__link= tab.link.text1
            span= tab.link.text2
            =tab.link.text3
