.index-categories {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: $color-bg-index;
  position: relative;
  z-index: 2;

  &__header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 37px 50px;

    @include s-desktop {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__text {
    @include s-desktop {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__buttons {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    @include s-desktop {
      width: 100%;
    }

    .button_transparent {

      &:hover {
        background-color: transparent;
        border-color: $color-main;
        color: $color-main;
      }
    }
  }

  &__button {
    padding: 16px 34px;
  }

  &__content {
    box-sizing: border-box;
    padding: 0 50px 50px 50px;
    width: 100%;
  }

  &__list {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px 0;
    box-shadow: 0 20px 40px -15px rgba($color-font, .06);
    z-index: 2;

    @include desktop {
      flex-wrap: wrap;
    }
  }

  &__item {
    box-sizing: border-box;
    width: 25%;

    @include desktop {
      width: 50%;
    }
  }

  &__link {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 26px 37px;
    text-align: center;
    background-color: white;
    z-index: 1;

    a {
      font-size: 18px;
      color: $color-main;
      line-height: 1.67em;
      letter-spacing: .044em;
      text-decoration: none;
      border-bottom: 1px solid rgba($color-main, .3);
      transition: all .25s ease-in-out;
      cursor: pointer;

      &:hover {
        border-color: transparent;
      }
    }
  }
}
