.index-categories {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: $color-bg-index;
  position: relative;
  z-index: 2;

  &__header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 37px 50px;

    @include s-desktop {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__text {
    margin-right: 20px;

    @include s-desktop {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__buttons {

    @include s-desktop {
      width: 100%;
    }
  }

  &__content {
    box-sizing: border-box;
    padding: 0 50px 50px 50px;
    width: 100%;
  }

  &__list {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px 0;
    box-shadow: 0 20px 40px -15px rgba($color-font, .06);
    z-index: 2;

    @include desktop {
      flex-wrap: wrap;
    }
  }

  &__item {
    box-sizing: border-box;
    width: 25%;

    @include desktop {
      width: 50%;
    }
  }
}
