.client-profile-tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: $color-bg-index;

  &__controls {
    width: 100%;
    flex-wrap: wrap;
    background-color: #fff;
    overflow: hidden;

    .tab-toggles__button {
      width: 25%;
      margin-bottom: 6px;

      @include desktop {
        width: 33.3%;
      }

      @include s-desktop {
        width: 50%;
      }
    }
  }

  &__container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  &__maindata, &__identification, {
    height: auto;
  }

  &__content {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 30px 40px 100px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #e4e8ea;

    &.active {
      display: flex;
    }

    &_identification {
      padding-top: 52px;
    }

    &_reviews {
      padding: 0;
      border: none;
    }

    &_favorites {
      padding-top: 44px;
    }

    &_blacklist {
      padding-top: 26px;
    }

    &_notice {
      padding-top: 32px;
    }
  }

  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 40px;
    width: 100%;
    border: 1px solid $color-bg-index;
    border-bottom-width: 0;
  }

  &__button {
    flex: none;

    .button__name {
      letter-spacing: .04em;
    }

    &:not(:last-child) {
      margin-right: 90px;

      @include desktop {
        margin-right: 45px;
      }
    }

    &.active {
      border-color: transparent;

      .button__name {
        color: $color-font;
        font-weight: 500;
      }
    }
  }

  &__review-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $color-bg-index;
    border-bottom-width: 0;
  }

  &__review-item {
    box-sizing: border-box;
    min-width: 40%;
    flex: 1;
    padding: 24px 40px;
    border-bottom: 1px solid $color-bg-index;

    @include desktop {
      min-width: 100%;
    }

    &:not(:nth-of-type(2n)) {
      border-right: 1px solid $color-bg-index;

      @include desktop {
        border-right-width: 0;
      }
    }
  }

  &__item {
    width: 100%;
  }

  &__paginator {
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: 100%;
    background-color: $color-bg-index;
  }

  &__noreviews {
    margin-top: 60px;
    font-size: 18px;
    letter-spacing: .04em;
    line-height: 1.67em;
    font-weight: 400;
    color: #b2b2b2;
    width: 100%;
    text-align: center;
  }

  &__notice {
    width: 410px;
    min-width: 410px;
    margin: 0 auto;
  }

  &__favorites, &__blacklist {
    max-width: 1082px;
    width: 100%;
  }

  &__specialization {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;

    p {
      box-sizing: border-box;
      font-size: 14px;
      letter-spacing: .04em;
      line-height: 1.8em;
      font-weight: 400;
      color: $color-font;
      text-align: center;
      max-width: 730px;
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &__specs {
    margin-bottom: 30px;
  }

  &__spec-button {
    max-width: 440px;
    width: 100%;
  }
}
