.client-profile-tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: #fff;

  &__controls {
    width: 100%;
    flex-wrap: wrap;

    .tab-toggles__button {
      width: 25%;
    }
  }

  &__container {
    width: 100%;
  }

  &__content {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;

    &.active {
      display: flex;
    }
  }
}
