.client-orders {

  &__visibility, &__status {
    background-color: #fff;
    width: 100%;
    padding: 16px 40px 6px;
  }

  &__visibility {
    border-bottom: 1px solid rgba(#000, .15);
  }

  &__status {
    margin-bottom: 30px;
  }

  &__order {

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__paginator {
    width: 100%;
    padding-left: 82px !important;
    padding-right: 82px !important;
  }
}
