include ../../blocks/button/button
include ../../blocks/client-request/client-request
include ../page-navigation/page-navigation
include ../../blocks/filter-list/filter-list

mixin client-orders()
  +b.client-orders&attributes(attributes)
    +filter-list("Область видимости:", getData("client-filter-order-visibility")).__visibility
    +filter-list("Статус:", getData("client-filter-order-state")).__status
    +e.orders
      +client-request('open', 'new').__order
      +client-request('open', 'new').__order
      +client-request('workingedit').__order
      +client-request('bun', 'new').__order
      +client-request('workingopen').__order
      +client-request('deal', 'new').__order
    +page-navigation(getData('page-navigation')).__paginator

