.card-from-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(16, 30, 98, .1);
    flex: 1;

    @include s-desktop {
      flex-direction: column;
    }
  }

  &__remove {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(27, 52, 176, .25);
    background-color: #fff;
    transform: translate(-50%, -50%);
    transition: all .25s ease-in-out;
    cursor: pointer;
    z-index: 2;

    &:hover {
      box-shadow: 0 0 10px rgba(27, 52, 176, .5);

      .card-from-list__icon {
        stroke: #9f9f9f;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    transform: translate(-50%, -50%);
    transition: all .25s ease-in-out;
    stroke: #afafaf;
    fill: transparent;
  }

  &__person {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 50px 20px 24px;
    width: 384px;
    min-width: 384px;
  }

  &__avatar {
    min-width: 82px;
    margin-right: 18px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
  }

  &__name {
    padding-left: 30px;
    margin-bottom: 20px;
  }

  &__list {
    width: 100%;

    .specialization__item {
      width: 100%;
      padding-left: 20px !important;
      padding-right: 0 !important;
    }

    .specialization__sublist {
      width: 100%;
      padding: 0 !important;
    }
  }

  &__order {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 24px 20px;
    width: 384px;
    min-width: 384px;
  }

  &__title {
    font-size: 14px;
    letter-spacing: .04em;
    line-height: 1.8em;
    font-weight: 500;
    color: $color-font;
    margin-bottom: 20px;
    width: 100%;

    a {
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: .04em;
      color: inherit;
      border-bottom: 1px solid rgba(#000, .5);
      cursor: pointer;

      &:hover {
        color: rgba($color-font, .8);
        border-bottom-color: rgba(#000, .4);
      }
    }
  }

  &__condition {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    padding: 18px 20px;
    background-color: $color-bg-index;
    width: 100%;
    font-size: 13px;
    color: $color-font;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 14px;

    &-type {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-weight: 500;
      letter-spacing: .04em;
      flex: 1;
      margin-right: 20px;

      span {
        letter-spacing: .04em;
        font-weight: 500;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      box-sizing: border-box;
      flex: 1;
    }

    &-item {
      box-sizing: border-box;
      position: relative;
      padding-left: 25px;

      span {
        letter-spacing: .04em;
      }

      .card-from-list__condition-icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        fill: transparent;
        stroke: rgba($color-font, .35);
      }

      &_time {

        .card-from-list__condition-icon {
          width: 16px;
          height: 16px;
        }
      }

      &_price {

        .card-from-list__condition-icon {
          width: 18px;
          height: 16px;
        }
      }
    }
  }

  &__spec-list {
    width: 100%;
    margin-bottom: 14px;
  }

  &__client {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;

    &-name {
      font-size: 13px;
      color: $color-font;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: .04em;
      margin-right: 18px;
      flex: 1;
    }

    &-status {
      flex: 1;
    }
  }

  &__notice {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 14px;
    padding-right: 26px;
    border-left: 1px solid rgba(#000, .15);
    flex: 1;

    @include s-desktop {
      flex: none;
      border-left-width: 0;
      border-top: 1px solid rgba(#000, .15);
      width: 100%;
    }

    &.active {
      display: flex;
    }
  }

  &__note {
    position: relative !important;
    display: flex !important;
    width: 100% !important;
    max-width: 550px !important;

    @include s-desktop {
      max-width: auto !important;
    }
  }

  &__control, &__restore {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 24px;
    width: calc(100% - 384px);

    &.active {
      display: flex;
    }
  }

  &__restore {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    p {
      font-size: 14px;
      letter-spacing: .04em;
      font-weight: 400;
      line-height: 1.57em;
      color: rgba($color-font, .5);
      margin-right: 30px;
    }
  }
}
