include ../jurist-name/jurist-name
include ../avatar/avatar
include ../specialization/specialization-mark
include ../profile-control/profile-control
include ../note/note
include ../icon/icons

mixin card-from-list(note)
  +b.SECTION.card-from-list&attributes(attributes)
    +e.BUTTON.remove
      +icon('cross').__icon
    +e.person
      +avatar("assets/images/short-review-avatar.jpg").__avatar
      +e.info
        +jurist-name("Иван Ковалев", true, true, true)._border._bold.__name
        +specialization-mark(getData('card-from-list-specialization'))._marked.__list
    +e.notice
      -if(note) {
        +note("Мы сделали плагин, который подсчитывает количество символов и слов в тексте в режиме онлайн, причём отдельно отображается количество символов с пробелами и без пробелов. Такими автоматическими формами отдельно отображается количество символов количес", true).__note.active
        +profile-control("note", "Создать заметку", "pencil", "", true).__button
      -} else {
        +note("", true).__note
        +profile-control("note", "Создать заметку", "pencil", "", true).__button.visible
      -}
