extends ../../layouts/default

block head
  - var pageTitle = 'Wiki Pravo — Главная'

block content
  +b.index
    +index-info
    +index-advantages
    +index-categories
    +index-lawyers
    +index-reviews

block page-left
  +sidebar

block page-top
  +header
