extends ../../layouts/default

block head
  - var pageTitle = 'Wiki Pravo — Главная'

block content
  +b.index
    +index-info
    +index-advantages

block page-left
  +sidebar

block page-top
  +header
