.system-regform {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  margin-top: 12px;

  &__title {
    margin-bottom: 34px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;

    @include s-desktop {
      flex-direction: column;
      align-items: center;
      padding: 0 95px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &_client-type {
      margin-bottom: 34px;
    }

    &_social-authorization {
      margin-bottom: 43px;
      justify-content: center;
    }

    &_narrow {
      padding: 0 95px;
    }
  }

  &__type {
    width: 50%;

    @include s-desktop {
      width: 100%;
    }

    &_user {
      border-left-width: 0;
    }
  }

  &__socials {
    width: 210px;
    justify-content: space-between;
  }

  &__field {
    flex: 1;

    @include s-desktop {
      flex: none;
      width: 100%;
    }

    &:not(:nth-of-type(2n)) {
      margin-right: 20px;

      @include s-desktop {
        margin-right: 0;
      }
    }

    &:not(:last-of-type) {
      @include s-desktop {
        margin-bottom: 20px;
      }
    }
  }

  &__rules {
    width: 100%;
  }

  &__button {
    display: inline-block;
    width: 100%;

    .button-arrow {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
