include ../button/button

mixin note(data)
  +b.FORM.note&attributes(attributes)
    -if(data)
      +e.P= data
      +button("button")._text.__button(type="button") Удалить
    -else
      +e.TEXTAREA.text
      +e.buttons
        +button("button")._text.__button(type="submit") Сохранить
        +button("button")._text.__button(type="reset") Отмена
