include ../button/button

mixin note(data)
  -var buttons = [{"type" : "button", "name" : "Сохранить", "value" : "submit"}, {"type" : "button", "name" : "Отмена", "value" : "reset"}];
  +b.FORM.note&attributes(attributes)
    -if(data)
      +e.P= data
      +button([{"type" : "button", "name" : "Удалить", "type": "button"}])
    -else
      +e.TEXTAREA
      +button(buttons)
