.index-reviews {
  box-sizing: border-box;
  padding: 43px 50px 52px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $color-bg-index;

  &__header {
    margin-bottom: 42px;
  }

  &__slider {
    box-sizing: border-box;
    width: 100%;
    padding: 0 74px;

    &::before, &::after {
      position: absolute;
      content: '';
      width: 74px;
      height: 100%;
      top: 0;
      background-color: $color-bg-index;
      z-index: 1;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    .slider__wrapper {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include desktop {
        justify-content: flex-start;
      }
    }

    .slider__item {
      min-width: 48.5%;
      width: 48.5%;
      z-index: 5;

      @include desktop {
        min-width: 100%;
        width: 100%;
      }
    }
  }
}
