extends ../../layouts/default

block head
  - var pageTitle = 'Wiki Pravo — Каталог юристов'

block content
  +b.catalog
    +catalog-navigation(getData('catalog-navigation'), true)
    +catalog-search(true)
      +catalog-cards(true).__catalog-cards
    +page-navigation(getData('page-navigation'))

block page-left
  +sidebar

block page-top
  +header(true)

block page-bottom
  +footer
