include ../../blocks/page-title/page-title
include ../../blocks/button/button
//-include ../../blocks/filter-controls/filter-controls

mixin requests-catalog-header(authorization)
  +b.requests-catalog-header&attributes(attributes)
    +e.header
      +page-title("Заявки на услуги").__title
      -if(authorization)
        +button('a')._blue.__button Бесплатно создать заказ
    -if(authorization)
      +e.headertext
        +e.P
          | Вы видите только публичные заказы. Если вы  хотите видеть  все заказы клиентов и отвечать на них, зарегистрируйтесь как специалист:
          +e.A(href="#") Пройти регистрацию
