.radio {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  input {
    display: none;
  }

  &__label {
    position: relative;
    box-sizing: border-box;
    padding-left: 35px;
    width: 100%;
    font-size: 13px;
    line-height: 1.5em;
    letter-spacing: .04em;
    font-weight: 400;
    color: #1a1a1a;
    white-space: nowrap;
    text-align: left;

    &::before {
      box-sizing: border-box;
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 22px;
      height: 22px;
      border: 1px solid rgba(#000, .15);
      border-radius: 50%;
      padding: 5px;
      background-clip: content-box;
      transform: translate(0, -50%);
      transition: all .25s ease-in-out;
      cursor: pointer;
    }

    &:hover::before {
      border-color: rgba(#000, .5);
    }
  }

  &__input {
    display: none;
    margin-left: 35px;
    margin-top: 10px;
    width: calc(100% - 35px);
  }

  input:checked ~ .radio__label {

    &::before {
      background-color: $color-main;
    }
  }

  input:checked ~ .radio__input {
    display: block;
  }

  &_grey {

    .radio {

      &__label {
        color: rgba($color-font, .5);
        letter-spacing: .025em;

        a {
          color: rgba($color-font, .4);
          border-color: rgba($color-font, .4);
          letter-spacing: .025em;

          &:hover {
            color: rgba($color-font, .8);
            border-color: rgba($color-font, .8);
          }
        }

        &::before {
          border-color: rgba($color-font, .15);
        }
      }
    }
  }

  &_big {

    .radio {

      &__label {
        padding-left: 45px;
      }

      &::before {
        width: 25px;
        height: 25px;
      }
    }
  }

  &_red {

    input:checked ~ .radio__label {

      &::before {
        background-color: #d93a37;
        border-color: #d93a37;
      }
    }
  }

  &_large {
    font-size: 14px;
  }

  &_blue {

    input:checked ~ .radio__label {

      &::before {
        background-color: #2b7de4;
        border-color: #2b7de4;
      }
    }
  }

  &_bold {

    .radio__label {
      font-weight: 500;
    }
  }

  &_dark {

    .radio__label {
      color: #0f1119;
    }
  }
}
