mixin button(type, target)
  -var btnType = 'A';

  -if (type === 'button') {btnType = 'BUTTON'}

  +b(btnType)(class="button" data-tab-target=target)&attributes(attributes)
    +e.SPAN.name
      block
