.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  padding: 17px 31px;
  transition: all .25s ease-in-out;
  border: 2px solid transparent;
  cursor: pointer;
  white-space: nowrap;

  &_blue {
    color: white;
    background-color: $color-main;
    border-color: $color-main;

    .button__arrow {
      color: rgba(white, .75);
    }

    &:hover, &:active {
      color: white;
      background-color: rgba($color-main, .75);
      border-color: #63abed;
    }
  }

  &_transparent {
    color: $color-main;
    border: 2px solid rgba($color-main, .2);
    background-color: transparent;

    .button__arrow {
      color: rgba($color-main, .6);
    }

    &:hover, &:active {
      background-color: $color-main;
      border-color: $color-main;
      color: #fff;

      .button__arrow {
        color: #fff;
      }
    }

    &_second {
      color: $color-main;
      border: 2px solid rgba($color-main, .2);
      background-color: transparent;
      
      &:hover, &:active {
        background-color: transparent;
        border-color: rgba($color-main, .8);
        color: $color-main;
      }
    }
  }

  &_white {
    background-color: rgba(white, .2);
    color: white;
    font-size: 15px;

    &:hover {
      background-color: rgba(white, .4);
    }
  }

  &__arrow {
    color: inherit;
    margin-left: 10px;
    font-size: 18px;
    transition: all .25s ease-in-out;
  }

  &__name {
    color: inherit;
  }
}
