.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  padding: 17px 31px;
  transition: all .25s ease-in-out;
  border: 2px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  appearance: none;

  &_small {
    font-size: 13px;
  }

  &_centered {
    text-align: center;
  }

  &_left {
    text-align: left;
  }

  &_text {
    color: $color-main;
    letter-spacing: .04em;
    line-height: 1.54em;
    padding: 0;
    background-color: transparent;
    border: none;

    &:hover {
      color: rgba($color-main, .6);
    }

    &_dark {
      color: $color-font;
    }
  }

  &_border {
    border-bottom: 1px solid rgba($color-main, .4);

    &:hover {
      color: rgba($color-main, .6);
      border-color: rgba($color-main, .2);
    }

    &_dark {
      border-bottom: 1px solid rgba(#000, .2);

      &:hover {
        color: rgba($color-font, .6);
        border-color: rgba(#000, .4);
      }
    }
  }

  &_big {
    font-size: 20px;
  }

  &_bold {
    font-weight: 500;
  }

  &_bolder {
    font-weight: 700;
  }

  &_blue {
    color: white;
    background-color: $color-main;
    border-color: $color-main;

    .button__arrow {
      color: rgba(white, .75);
    }

    &:hover, &:active {
      color: white;
      background-color: rgba($color-main, .75);
      border-color: #63abed;
    }
  }

  &_red {
    color: white;
    background-color: $color-registration-red;
    border-color: $color-registration-red;

    .button__arrow {
      color: rgba(white, .75);
    }

    &:hover, &:active {
      color: white;
      background-color: rgba($color-registration-red, .75);
      border-color: #e56a6b;
    }
  }

  &_lightgrey {
    color: $color-font;
    background-color: $color-border-search;
    border-color: $color-border-search;

    .button__arrow {
      color: $color-font;
    }

    &:hover, &:active {
      color: #fff;
      background-color: $color-author-status;
      border-color: $color-author-status;
    }
  }

  &_transparent {
    color: $color-main;
    border: 2px solid rgba($color-main, .2);
    background-color: transparent;

    .button__arrow {
      color: rgba($color-main, .6);
    }

    &:hover, &:active {
      background-color: $color-main;
      border-color: $color-main;
      color: #fff;

      .button__arrow {
        color: #fff;
      }
    }

    &_second {
      color: $color-main;
      border: 2px solid rgba($color-main, .2);
      background-color: transparent;

      &:hover, &:active {
        background-color: transparent;
        border-color: rgba($color-main, .8);
        color: $color-main;
      }
    }
  }

  &_white {
    background-color: rgba(white, .2);
    color: white;
    font-size: 15px;

    &:hover {
      background-color: rgba(white, .4);
    }
  }

  &__arrow {
    color: inherit;
    margin-left: 10px;
    font-size: 18px;
    transition: all .25s ease-in-out;
  }

  &__name {
    color: inherit;
  }
}
