mixin button(type, target)
  -var btnType = 'a';
  
  -if (type === 'button') {btnType = 'button'}

  +b(btnType)(class="button" data-tab-target=target)&attributes(attributes)
    +e.SPAN.name
      block
