mixin button(data)
  each btn in data
    -var basicClass = '';
    -var addClass = '';
    -var btnType = '';
    -var btnHref = '';

    -if (btn.type == 'link') {btnType = 'A'}
    -if (btn.type == 'button') {btnType = 'BUTTON'}
    -if (btn.arrow) {addClass = '_arrow_' + btn.arrow}

      +b(btnType)(class="button" + addClass, href= btn.href, type= btn.value)&attributes(attributes)
        +e.SPAN.name= btn.name
        -if (btn.arrow)
          +e.I.arrow(class= "fa fa-angle-" + btn.arrow)
