.page-layout {
  display: flex;
  height: 100%;
  position: relative;
  padding-left: $sidebar-width;

  @include s-desktop {
    padding-left: $s-desktop-sidebar-width;
  }

  &__left-col {
    width: $sidebar-width;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    @include s-desktop {
      width: $s-desktop-sidebar-width;
    }
  }

  &__right-col {
    flex: 1;
    width: 100%;
  }
}
