.page-layout {
  display: flex;
  height: 100vh;
  position: relative;
  padding-left: $sidebar-width;
  transition: filter .5s ease-in-out;
  filter: blur(0px);

  @include s-desktop {
    padding-left: $s-desktop-sidebar-width;
  }

  &__left-col {
    width: $sidebar-width;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    @include s-desktop {
      width: $s-desktop-sidebar-width;
    }
  }

  &__right-col {
    flex: 1;
    width: 100%;
    overflow: auto;
  }

  &_blurred {
    filter: url('../images/icon.svg#gaussian_blur');
    filter: blur(3px);
  }
}
