.sidebar {
  background-color: $color-sidebar-bg;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  @include hide-scrollbar;

  &__selectbox {
    margin-right: -12px;

    @include s-desktop {
      margin-right: 0;
    }

    &:not(:first-child) { margin-top: 33px; }
  }

  &__row {
    padding-left: 40px;
    padding-right: 40px;

    @include s-desktop {
      padding-left: 30px;
      padding-right: 30px;
    }

    &:last-child { padding-bottom: 40px; }

    &:not(:first-of-type) { border-top: 1px solid rgba(white, .1); }

    &_logo {
      padding-top: 11px;
      padding-bottom: 23px;
    }

    &_nav-menu {
      padding-top: 33px;
      padding-bottom: 34px;
    }

    &_contacts-block {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
