extends ../../layouts/default2

block head
  - var pageTitle = 'Wiki Pravo — Регистрация'

block content
  +b.registration
    +page-title("Заполнение личных данных").__title

block page-top
  +header-dark

block page-bottom

block page-popups
  +popups
