extends ../../layouts/default2

block head
  - var pageTitle = 'Wiki Pravo — Регистрация'

block content
  +b.registration
    +page-title("Завершение регистрации").__title
    +registration-final

block page-top
  +header-dark

block page-bottom

block page-popups
  +popups
    +popup-registration-notactivated
    +popup-activation-repeat
