.button {

  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    transition: all .25s ease-in-out;
    transform: translate(0, -50%);

    &_smallplus {
      width: 14px;
      height: 14px;
    }

    &_smallcross {
      width: 12px;
      height: 12px;
    }

    &_flag {
      width: 16px;
      height: 14px;
    }

    &_smallcheck {
      width: 14px;
      height: 12px;
    }
  }

  &_text {

    .button__icon, &:disabled:hover .button__icon {
      fill: $color-main;
    }
  }

  &_blue, &_red, &_green {

    .button__icon, &:disabled:hover .button__icon {
      fill: white;
    }

    &:hover {

      .button__icon {
        fill: white;
      }
    }
  }

  &_lightgrey {

    .button__icon, &:disabled:hover .button__icon {
      fill: $color-font;
    }

    &:hover {

      .button__icon {
        fill: $color-font;
      }
    }
  }

  &_transparent {

    .button__icon, &:disabled:hover .button__icon {
      fill: $color-main;
    }

    &:hover {

      .button__icon {
        fill: #fff;
      }
    }

    &_second {

      .button__icon, &:disabled:hover .button__icon {
        fill: $color-main;
      }

      &:hover {

        .button__icon {
          fill: $color-main;
        }
      }
    }

    &_third {

      .button__icon, &:disabled:hover .button__icon {
        fill: $color-main;
      }

      &:hover {

        .button__icon {
          fill: #fff;
        }
      }
    }
  }

  &_icon {

    .button__name {
      position: relative;
      padding-left: 20px;
    }

    &:disabled {
      opacity: .5;
    }
  }
}
