.button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  padding: 17px 31px;
  transition: all 0.25s ease-in-out;
  border: 2px solid transparent;
  cursor: pointer;

  &_blue {
    color: white;
    background-color: $color-main;
    border-color: $color-main;

    &:hover, &:active {
      color: white;
      background-color: $color-btn-blue-hover;
      border-color: $color-btn-blue-hover;
    }
  }

  &_transparent {
    color: $color-main;
    border: 2px solid rgba($color-main, 0.2);
    background-color: transparent;

    .button__arrow {
      color: rgba($color-main, 0.6);
    }

    &:hover, &:active {
      background-color: $color-main;
      border-color: $color-main;
      color: white;

      .button__arrow {
        color: rgba(white, 0.6);
      }
    }
  }

  &__arrow {
    color: inherit;
    margin-left: 10px;
    font-size: 18px;
    vertical-align: middle;
  }

  &__name {
    color: inherit;
  }
}
