mixin btn(data)
  each btn in data
    -var basicClass = '';
    -var addClass = '';
    -var btnType = '';
    
    -if (btn.type == 'link') {btnType = 'a'}
    -if (btn.type == 'button') {btnType = 'button'}
    -if (btn.arrow) {addClass = '_arrow' + btn.arrow}
      
      +b(btnType)(class="btn" + addClass)&attributes(attributes)
        +e.name= btn.name
        -if (btn.arrow)
          +e.I.arrow(class= "fa fa-angle" + btn.arrow)
