include ../../blocks/lawyercard/lawyercard
include ../../blocks/icon/icons
include ../../blocks/list/list

mixin jurist-card(data)
  +b.SECTION.jurist-card&attributes(attributes)
    +lawyercard(data.lawyer)._wide-padding._no-border.__info
    +e.SECTION.describe
      +e.H3.slogan Решу любую вашу задачу!
      +list(data.services)._dash.__services
      +e.UL.features
        each item in data.features
          +e.LI(class="features-item" + "_" + item.image)
            +icon(item.image).icon
            |#{item.text}
