.user-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  padding: 14px 20px;
  background-color: #fff;

  &__img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 5px 0;
    min-width: 50px;
    width: 50px;
  }

  &__post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 20px;
    flex: 1;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 12px;
  }

  &__author {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .03em;
    line-height: 1.43em;
    margin-right: 50px;
  }

  &__buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    white-space: nowrap;
    margin-left: auto;
  }

  &__button {
    white-space: nowrap;

    .button__name {
      letter-spacing: .035em;
    }

    &_edit {
      margin-right: 20px;
    }
  }

  &__content {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .035em;
    line-height: 1.54em;
    width: 100%;
    color: $color-font;
    margin-bottom: 10px;

    p {
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: .035em;
      line-height: 1.54em;
      color: $color-font;
    }
  }

  &__remove {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .03em;
    line-height: 1.54em;
    width: 100%;
    color: rgba($color-font, .5);
    margin-top: 6px;
    margin-bottom: 4px;

    span {
      letter-spacing: .03em;
    }
  }

  &__remove-icon {
    width: 15px;
    height: 16px;
    margin-right: 6px;
    fill: rgba($color-font, .5);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
  }

  &__files {
    margin: 6px 0;
    width: 100%;
  }

  &__info {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 13px;
    letter-spacing: .042em;
    line-height: 1.54em;
    font-weight: 400;
    color: #b1b1b1;

    time, span {
      font-size: inherit;
      letter-spacing: .042em;
      line-height: inherit;
      font-weight: 400;
      color: inherit;
      margin-right: 4px;
    }
  }

  &_blue {
    background-color: #cee9fe;
  }
}
