include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/action-controls/action-controls
include ../../blocks/page-title/page-title

mixin profile-head(data, authorization)
  +b.SECTION.profile-head&attributes(attributes)
    +breadcrumbs(data.path).__breadcrumbs
    +e.header
      +page-title(data.name).__title
      -if(authorization)
        +action-controls("", "", "", "Хотя для большинства творческих сотрудников редакции не составит значительного труда подготовить информационное сообщение и пресс-релиз, эти тексты в строгом смысле не являются произведениями журналистов.").controls
