.jurist-tabs {
  box-sizing: border-box;
  padding: 0 50px;

  &__controls {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e7e7e9;
    margin: -2px 0;

    @include desktop {
      flex-wrap: wrap;
    }

    .tab-toggles__button {
      box-sizing: border-box;
      width: 25%;
      letter-spacing: .035em;

      @include desktop {
        width: 50%;
      }
    }
  }

  &__tabs-container {
    box-sizing: border-box;
    border: 1px solid $color-border-jurist-card;
    height: auto;
  }

  &__content {
    display: none;
    height: auto;
    background-color: #fff;

    &.active {
      display: block;
    }
  }

  &__filters {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    .jurist-tabs__filter-btn {

      &.active {
        color: $color-main;
        font-weight: 500;
        background-color: transparent;
        border-color: transparent;
      }

      &:not(:last-of-type) {
        margin-right: 95px;

        @include tablet {
          margin-right: 40px;
        }
      }
    }
  }

  &__review-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
  }

  &__review {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 29px 32px;
    border: 1px solid rgba($color-font, .1);
    border-width: 1px 0 0;
    min-width: 50%;
    width: 50%;
    margin: 0;

    @include tablet {
      width: 100%;
    }
  }

  &__table {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    box-sizing: border-box;
    padding: 0 50px;
    width: 100%;
  }

  &__col {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 28px 0;

    @include desktop {
      width: 100%;
    }

    &:not(:last-of-type) {
      border-right: 1px solid rgba($color-font, .1);
      padding-right: 50px;
      margin-right: 50px;

      @include desktop {
        border-right-width: 0;
      }
    }

    &_info {

      .jurist-tabs__head {
        min-width: 110px;
      }
    }

    &_publicwork {

      .jurist-tabs__head {
        min-width: 225px;
      }
    }

    &_profiledata {

      .jurist-tabs__head {
        min-width: 228px;
        margin-right: 14px;
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    width: 100%;
  }

  &__head {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .045em;
    line-height: 1.5em;
    color: rgba($color-font, .35);
    text-align: left;
    white-space: nowrap;
    margin-right: 50px
  }

  &__value {
    box-sizing: border-box;
    font-size: 14px;
    color: $color-font;
    font-weight: 400;
    letter-spacing: .045em;
    line-height: 1.5em;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    a {
      color: $color-main;
      font-size: inherit;
      letter-spacing: inherit;
      line-height: inherit;
      border-bottom: 1px solid rgba($color-main, .3);

      &:hover {
        color: rgba($color-main, .6);
      }
    }
  }

  &__special {
    font-size: 14px;
    color: $color-green-dark;
    font-weight: 400;
    letter-spacing: .045em;
    line-height: 1.5em;
    width: 100%;
  }

  &__skill-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
  }

  &__skill-item {
    box-sizing: border-box;
    padding: 38px 40px 22px;
    width: 100%;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba($color-font, .1);
    }
  }

  &__specialization-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 38px 65px 8px;

    @include desktop {
      flex-wrap: wrap;
    }

    @include tablet {
      padding: 38px 50px !important;
    }

    .specialization__item {
      box-sizing: border-box;
      width: 20%;
      padding-right: 50px;
      margin-bottom: 20px;

      @include desktop {
        width: 33%;
      }

      @include tablet {
        width: 50% !important;
      }
    }
  }
}
