include ../../blocks/tab-toggles/tab-toggles
include ../../blocks/short-review/short-review

mixin jurist-tabs()
  +b.SECTION.jurist-tabs&attributes(attributes)
    +tab-toggles(getData("jurist-tabs"))._transparent.__controls
    +e.tabs-container(data-tab-group-container="info")
      +e.content(class=" active" data-tab-group="info" data-tab-id="info1")
        +e.table
          +e.col_info
            +e.row_age
              +e.SPAN.head Возраст:
              +e.SPAN.value 54 года
            +e.row_experience
              +e.SPAN.head Стаж работы:
              +e.SPAN.value 24 года
          +e.col_publicwork
            +e.row_profile
              +e.SPAN.head Профиль на РосПравосудие:
              +e.SPAN.value
                +e.A(href="#") Личный кабинет на РосПравосудие
            +e.row_work
              +e.SPAN.head Дел на РосПравосудие:
              +e.SPAN.value 27 дел
          +e.col_profiledata
            +e.row_regdate
              +e.SPAN.head Зарегистрировался на сайте:
              +e.SPAN.value 2 года и 2 месяца
            +e.row_lastvisit
              +e.SPAN.special Был последний раз 1 день 2 часа назад
      +e.content(data-tab-group="info" data-tab-id="info2")
      +e.content(data-tab-group="info" data-tab-id="info3")
      +e.content(data-tab-group="info" data-tab-id="info4")
        +e.filters
          +button("a")._text._border._center._small.__filter-btn.active Все отзывы (128)
          +button("a")._text._border._center._small.__filter-btn Положительные (127)
          +button("a")._text._border._center._small.__filter-btn Отрицательные (2)
        +e.review-row
          -for (var k = 0; k < 6; k++) {
            +short-review(getData("jurist-short-review")).__review
          -}

