.checkbox {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  input {
    display: none;
  }

  &__label {
    position: relative;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 15px;
    min-width: 100%;
    font-size: 14px;
    line-height: 1.43em;
    letter-spacing: .035em;
    color: $color-font;
    white-space: nowrap;

    a {
      border-bottom: 1px solid $color-font;
      letter-spacing: .035em;
      padding-bottom: 5px;
      cursor: pointer;

      &:hover {
        color: rgba($color-font, .6);
        border-color: rgba($color-font, .6);
      }
    }
  }

  &__check {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transition: all .25s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    transform: translate3d(0, -50%, 0);

    &:hover {
      border-color: $color-font;
    }
  }

  &__check-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 9px;
    transform: translate(-50%, -50%);
    transition: all .25s ease-in-out;
    fill: transparent;
  }

  input:checked ~ label {

    .checkbox__check {
      border-color: $color-font;
    }

    .checkbox__check-img {
      fill: $color-font;
    }
  }

  &_grey {

    .checkbox {

      &__label {
        color: rgba($color-font, .5);
        letter-spacing: .025em;

        a {
          color: rgba($color-font, .4);
          border-color: rgba($color-font, .4);
          letter-spacing: .025em;

          &:hover {
            color: rgba($color-font, .8);
            border-color: rgba($color-font, .8);
          }
        }
      }

      &__check {
        border-color: rgba($color-font, .15);
      }
    }
  }

  &_darkgrey {

    .checkbox {

      &__label {
        color: rgba(#000, .5);
        letter-spacing: .025em;

        a {
          color: rgba(#000, .5);
          border-color: rgba(#000, .25);
          letter-spacing: .025em;

          &:hover {
            color: rgba(#000, .8);
            border-color: rgba(#000, .5);
          }
        }
      }

      &__check {
        border-color: rgba(#000, .25);
      }
    }
  }

  &_middle {

    .checkbox {

      &__check {
        width: 22px;
        height: 22px;
      }

      &__check-img {
        width: 14px;
        height: 11px;
      }
    }
  }

  &_big {

    .checkbox {

      &__label {
        padding-left: 45px;
      }

      &__check {
        width: 25px;
        height: 25px;
      }

      &__check-img {
        width: 17px;
        height: 14px;
      }
    }
  }

  &_red {

    input:checked ~ label {

      .checkbox__check {
        background: #d93a37;
        border-color: #d93a37;
      }

      .checkbox__check-img {
        fill: #fff;
      }
    }
  }

  &_lightgray {

    .checkbox__label {
      color: #c1c1c1;
    }
  }

  &_bold {

    .checkbox__label {
      font-weight: 500;
    }
  }

  &_bolder {

    .checkbox__label {
      font-weight: 700;
    }
  }
}
