.checkbox {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  input {
    display: none;
  }

  &__label {
    position: relative;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 15px;
    min-width: 100%;
    font-size: 14px;
    line-height: 1.43em;
    letter-spacing: .035em;
    color: $color-font;
    white-space: nowrap;
    
    a {
      border-bottom: 1px solid $color-font;
      letter-spacing: .035em;
      padding-bottom: 5px;
      cursor: pointer;
      
      &:hover {
        color: rgba($color-font, .6);
        border-color: rgba($color-font, .6);
      }
    }

    &::before, &::after {
      position: absolute;
      content: '';
      top: 50%;
      background-color: #fff;
      transition: all .25s ease-in-out;
      cursor: pointer;
    }

    &::after {
      left: 10px;
      width: 10px;
      height: 10px;
      transform: translate3d(-50%, -50%, 0);
    }

    &::before {
      left: 0;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      border: 1px solid #e1e1e1;
      border-radius: 2px;
      transform: translate3d(0, -50%, 0);
    }

    &:hover::before {
      border-color: $color-font;
    }
  }

  input:checked ~ label::after {
    background-color: rgba($color-font, .5);
  }
  
  &_grey {
    
    .checkbox {
      
      &__label {
        color: rgba($color-font, .5);
        letter-spacing: .025em;
        
        a {
          color: rgba($color-font, .4);
          border-color: rgba($color-font, .4);
          letter-spacing: .025em;
          
          &:hover {
            color: rgba($color-font, .8);
            border-color: rgba($color-font, .8);
          }
        }
        
        &::before {
          border-color: rgba($color-font, .15);
        }
      }
    }    
  }
  
  &_big {
    
    .checkbox {
      
      &__label {
        padding-left: 45px;
        
        &::after {
          left: 12px;
          width: 15px;
          height: 15px;
        }
        
        &::before {
          width: 25px;
          height: 25px;
        }
      }
    }    
  }
}
