.bun-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  letter-spacing: .035em;
  line-height: 1.5em;
  color: $color-red-dark;
  padding-left: 38px;

  span {
    letter-spacing: .035em;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 21px;
    transform: translate(0, -50%);
    fill: $color-red-dark;
  }
}
