include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/catalog-menu/catalog-menu

mixin catalog-navigation(data, breadcrumbsHidden)
  -var nobreadcrumbs = ""
  +b.SECTION.catalog-navigation&attributes(attributes)
    -if(!breadcrumbsHidden) {
      +breadcrumbs(data.path).__breadcrumbs
    - } else {nobreadcrumbs = "_nobreadcrumbs";}
      +catalog-menu(data.head)(class="__categories" + nobreadcrumbs)
