.catalog-navigation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 18px 50px 50px;

  &_lightblue {
    background-color: $color-bg-index;
  }

  &__breadcrumbs {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
  }

  &__categories {
    box-sizing: border-box;
    width: 100%;

    &_nobreadcrumbs {
      margin-top: 20px;
    }
  }
}
