mixin nav-menu(data)
  +b.UL.nav-menu&attributes(attributes)
    each link in data.link
      +e.LI.item
        +e.A(href=link.href).link
          +e.SPAN= link.text
          - if (link.icon.length > 0)
            +icon(link.icon).icon
