.nav-menu {

  &__item {
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4em;

    &:not(:first-of-type) {
      margin-top: 30px;
    }
  }

  &__link {
    padding-left: 40px;
    position: relative;
    display: block;
  }

  &__icon {
    position: absolute;
    left: -4px;
    top: 50%;
    transform: translateY(-50%);
  }
}
