.work-status {
  position: relative;
  min-width: 105px;

  &__list {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: all .25s ease-in-out;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(16, 30, 98, .1);
  }

  &__item {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px 5px 19px;
    font-size: 13px;
    letter-spacing: .04em;
    line-height: 1.5em;
    font-weight: 400;
    color: $color-font-gray;
    transition: all .25s ease-in-out;
    border-bottom: 1px solid rgba(#000, .1);
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: $color-font-gray;
      transform: translate(0, -50%);
      transition: all .25s ease-in-out;
    }

    &_free:hover, &_free.active {
      color: #5ec650;
    }

    &_free:hover::before, &_free.active::before {
      background-color: #5ec650;
    }

    &_busy:hover, &_busy.active {
      color: #d82c2c;
    }

    &_busy:hover::before, &_busy.active::before {
      background-color: #d82c2c;
    }
  }

  &__button {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    z-index: 5;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 13px 5px 19px;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #fff;
      transform: translate(0, -50%);
      transition: all .25s ease-in-out;
    }

    &[data-type='free'] {
      color: $color-green-dark;

      &::before {
        background-color: $color-green-dark;
      }
    }

    &[data-type='busy'] {
      color: $color-red;

      &::before {
        background-color: $color-red;
      }
    }
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    letter-spacing: .04em;
    line-height: 1.5em;
    font-weight: 400;
    color: inherit;
  }

  &__right-icon {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 16px;
    font-weight: 400;
    transition: all .25s ease-in-out;
    color: inherit;
    transform: translate(0, -50%);
  }

  &.active {

    .work-status__list {
      opacity: 1;
    }
  }
}
