.spoiler {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;

  &__control {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }

  &__content {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }

  &__button {
    margin-right: auto;
  }

  &_bottom {

    .spoiler {

      &__control {
        order: 2;
      }

      &__content {
        order: 1;
      }
    }
  }
}
