.index-info {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  flex-wrap: wrap;

  &__left-col .entitled-text, &__buttons {
    &:not(:last-child) { margin-bottom: 30px; }
  }

  &__left-col {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    padding: 37px 50px 30px;
    background-color: white;
    z-index: 1;

    @include desktop {
      width: 100%;
    }

    .entitled-text {

      h2 {
        margin-bottom: 22px;
      }

      p {
        color: rgba($color-font, .7);
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .button {
      max-width: 280px;
      margin-bottom: 9px;
      flex: 1;

      &:not(:last-child) {
        margin-right: 13px;
      }
    }
  }

  &__right-col {
    position: relative;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: white;
    z-index: 3;
    box-shadow: -10px 0 $big-shadow;

    @include desktop {
      width: 100%;
      box-shadow: inset 0 10px $big-shadow;
    }
  }

  &__numerically {
    position: relative;
    box-sizing: border-box;
    text-align: left;
    padding: 29px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 3;
    
    &:not(:last-child) {
      border-bottom: 1px solid #e5e5e5;
    }
  }
}
