include ../../blocks/entitled-text/entitled-text
include ../../blocks/button/button

mixin index-info()
  +b.index-info&attributes(attributes)
    +e.left-col
      +entitled-text(getData('index-info-about'))
      +e.buttons
        +button(getData('index-info-btn-1'))._blue
        +button(getData('index-info-btn-2'))._transparent
    +e.right-col
      +entitled-text(getData('index-info-numerically')).__numerically
