include ../button/button
include ../input/input
include ../selectbox/selectbox
include ../icon/icons
include ../verify/verify
include ../popup-sms-verification/popup-sms-verification

mixin personal-settings(specialist)
  +b.FORM.personal-settings&attributes(attributes)
    +e.row
      +e.col_label
        +e.LABEL(for="login").__label Логин:
      +e.col_field
        +input(type="text" value="Evgeniy255" disabled)._noborder._blue#login.__input_login
        +button('a')(href="#")._text._border.__link Изменить пароль
      +e.col_check
    +e.row_help
      +e.col_label
      +e.col_field
        +e.SPAN.help Будет использоваться для показа пользователям сервиса
      +e.col_check
    +e.row
      +e.col_label
        +e.LABEL(for="name").__label
          +e.SPAN.require *
          | Имя:
      +e.col_field
        +input(type="text" placeholder="Евгений Михайлов" required)#name.__input
      +e.col_check
    +e.row
      +e.col_label
        +e.SPAN.__label
          +e.SPAN.require *
          | Дата рождения:
      +e.col_field
        +selectbox(getData('selectbox-day'), "", true, "8")._light._scrollable.__selectbox_birth
        +selectbox(getData('selectbox-month'), "", true, "Март")._light._scrollable.__selectbox_birth
        +selectbox(getData('selectbox-year'), "", true, "1975")._light._scrollable.__selectbox_birth
      +e.col_check
    +e.row_help
      +e.col_label
      +e.col_field
        +e.SPAN.help Для восстановления пароля и рассылки уведомлений
      +e.col_check
    +e.row
      +e.col_label
        +e.LABEL(for="email").__label
          +e.SPAN.require *
          | Email:
      +e.col_field
        +input(type="email" placeholder="Evgeniy255@mail.ru" required)#email.__input
      +e.col_check
        +verify.__verify
    +e.row_help
      +e.col_label
      +e.col_field
        +e.SPAN.help Требуется для восстановления пароля и входа в систему
      +e.col_check
    +e.row
      +e.col_label
        +e.LABEL(for="phone").__label
          +e.SPAN.require *
          | Номер телефона:
      +e.col_field
        +input(type="tel" placeholder="8 (963) 765-43-21" required)#phone.__input_phone
        +button('a')(href="#" data-popup-open="sms-code")._text._border.__link.js-smscode-popup-open#sms Отправить SMS
      +e.col_check
        +verify(true).__verify
    +e.row
      +e.col_label
        +e.SPAN.__label
          +e.SPAN.require *
          | Регион:
      +e.col_field
        +selectbox(getData('selectbox-region'), "", true, "Центральный федеральный округ")._light._scrollable.__selectbox
      +e.col_check
    +e.row
      +e.col_label
        +e.SPAN.__label
          +e.SPAN.require *
          | Город:
      +e.col_field
        +selectbox(getData('sidebar-city-list'), "", true, "Москва")._light._scrollable.__selectbox_city
      +e.col_check
    -if(specialist) {
      +e.row_help
        +e.col_label
        +e.col_field
          +e.SPAN.help Укажите ссылку, если хотите повысить доверие к вам
        +e.col_check
      +e.row
        +e.col_label
          +e.SPAN.__label
            | Профиль на РосПравосудие:
        +e.col_field
          +input(type="url" placeholder="https://rospravosudie.com/lawyer-kabinet-i-k-s/")#rospravo.__input_rospravo
        +e.col_check
          +verify.__verify
      +e.row_help
        +e.col_label
        +e.col_field
          +e.SPAN.help Укажите ваш стаж работы
        +e.col_check
      +e.row
        +e.col_label
          +e.SPAN.__label
            | Стаж:
        +e.col_field
          +input(type="numeric" placeholder="10")._center#experience.__input_experience
          +e.SPAN.__label_small._experience лет
          +verify(true).__verify
        +e.col_check
    -}
    +e.row
      +e.col_label
      +e.col_field
        +button('button')(type="submit")._blue.__button Сохранить изменения
      +e.col_check
    +popup-sms-verification#sms-code

