include ../../components/dialog/dialog-second
include ../lawyercard/lawyercard-contractor
include ../section-title/section-title

mixin contractor-card(type, active)
  -var title = ""
  -var activeClass = ""
  case type
    when 'response'
      - title = "Отклик"
    when 'invite'
      - title = "Приглашение"
    default
      - break
  case active
    when 'candidate'
      - activeClass = '_blue'
    when 'contractor'
      - activeClass = '_green'
    when 'reject'
      - activeClass = '_red'
    default
      - break
  +b(class="contractor-card" + activeClass)&attributes(attributes)
    +section-title(title)._biger._bolder.__title
    +e.body
      +lawyercard-contractor(active).__contractor
      +dialog-second(getData('contractor-dialog')).__dialog

mixin contractor-card-second()
  +b.contractor-card_second&attributes(attributes)
    +section-title("Отклик")._biger._bolder.__title
    +e.body
      +lawyercard-contractor-second.__contractor
      +dialog-second(getData('contractor-dialog')).__dialog
