// ##########
// Миксины проекта
// ##########

// Скрываем скроллбар у блока
@mixin hide-scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
