// ##########
// Миксины проекта
// ##########

// Скрываем скроллбар у блока
@mixin hide-scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Адаптив
@mixin desktop {
  @media (max-width: 1480px) {
    @content;
  }
}

@mixin s-desktop {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1180px) {
    @content;
  }
}
