// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Цвета
// ##########
$color-main: #3593ea; // Основной цвет сайта
$color-placeholder: #a7a7a7; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea
$color-font: #151827; //Основной цвет текста

// ##########
// Шрифты
// ##########
$font-main: 'Gotham Pro', Arial, sans-serif; // Основной шрифт сайта
$font-second: 'Warnock Pro', Times New Roman, serif; // Дополнительный шрифт
