// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Цвета
// ##########
$color-main: #3593ea; // Основной цвет сайта
$color-placeholder: #a7a7a7; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea
$color-font: #151827; //Основной цвет текста
$color-dark-medium-grey: #606476;
$color-dark-grey: #383a47;
$color-btn-blue-hover: #62acf3;
$color-red: #d82425;
$color-red-light: #d72727;
$color-red-dark: #da2e2e;
$color-bg-index: #f1f5f8;
$color-citylist-item: #bdbdbd;
$color-offline: #b2b2b2;
$color-font-gray: #b3b3b3;
$color-green: #42c031;
$color-green-dark: #4dc33b;
$color-green-like: #44bf33;
$color-slider-toggles: #b6babb;
$color-sidebar-bg: #0d1022;
$color-breadcrumbs-text: #a5a5a5;
$color-border-search: #e7e7e9;
$color-border-input: #e1e1e1;
// ##########
// Шрифты
// ##########
$font-main: 'Gotham Pro', Arial, sans-serif; // Основной шрифт сайта
$font-second: 'Warnock Pro', Times New Roman, serif; // Дополнительный шрифт

// ##########
// Переменные разметки
// ##########
$sidebar-width: 358px; // Ширина сайдбара
$s-desktop-sidebar-width: 300px; // Ширина сайдбара на s-desktop

// ##########
// Другие переменные
// ##########
$big-shadow: 40px -2px rgba(#151827, .06); // Параметры тени хедера и других блоков
