// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Цвета
// ##########
$color-main: #3593ea; // Основной цвет сайта
$color-placeholder: #a7a7a7; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea
$color-font: #151827; //Основной цвет текста
$color-dark-medium-grey: #606476;
$color-dark-grey: #383a47;

// ##########
// Шрифты
// ##########
$font-main: 'Gotham Pro', Arial, sans-serif; // Основной шрифт сайта
$font-second: 'Warnock Pro', Times New Roman, serif; // Дополнительный шрифт

// ##########
// Переменные разметки
// ##########
$sidebar-width: 358px; // Ширина сайдбара

// ##########
// Другие переменные
// ##########
$big-shadow: 40px -2px rgba(#151827, .07); // Параметры тени хедера и других блоков
