include ../../blocks/popup/popup
include ../../blocks/block-title/block-title

mixin popup-public-work()
  +popup.popup-public-work#popup-public-work&attributes(attributes)
    +block-title("Опыт работы  в Гос. структурах")._bold.__title
