.popup-public-work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 682px;
  padding: 40px 50px;

  &__title {
    width: 100%;
    letter-spacing: .04em;
    margin-bottom: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &_button {
      margin-top: 10px;
      justify-content: center;
    }
  }

  &__col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;

    &_label {
      text-align: left;
      margin-right: 30px;
      min-width: 140px;
    }

    &_field {
      flex: 1;
    }
  }

  &__input, &__files {
    width: 100%;
  }

  &__input {

    &_short {
      min-width: 130px;
      width: 130px;
      margin-right: 10px;
    }
  }

  &__required {
    font-size: 15px;
    letter-spacing: .04em;
    line-height: 1.5em;
    font-weight: 400;
    color: rgba(#cb1420, .75);
  }

  &__label {
    font-size: 14px;
    letter-spacing: .04em;
    line-height: 1.5em;
    font-weight: 400;
    color: rgba(#08090d, .75);

    &_big-margin {
      margin-right: 55px;
    }

    &_margin {
      margin-right: 10px;
    }
  }
}
