.order-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 25px 38px 27px;
  width: 100%;
  background-color: #fff;

  &__title {
    margin-bottom: 19px;
  }

  &__order-label {
    font-size: 13px;
    margin-bottom: 19px;
    font-weight: 600;
  }

  &__sublabel {
    font-size: 13px;
    color: $color-placeholder;
    font-weight: 300;
  }

  &__row {
    margin-bottom: 25px;
    max-width: 740px;
    width: 100%;

    .selectbox, .input, .textarea {
      width: 100%;
    }
  }
}
