include ../../blocks/block-title/block-title
include ../../blocks/radiobutton/radiobutton
include ../../blocks/label-field/label-field
include ../../blocks/input/input
include ../../blocks/checkbox/checkbox
include ../../blocks/selectbox/selectbox
include ../../blocks/textarea/textarea

mixin order-about()
  +b.order-about&attributes(attributes)
