.tab-toggles {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @include s-desktop {
    width: 100%;
  }

  &__button {
    position: relative;
    padding: 16px 34px;
    z-index: 2;
    color: $color-main;
    border: 2px solid rgba($color-main, .2);
    background-color: transparent;

    &:hover, &:active {
      background-color: transparent;
      border-color: rgba($color-main, .8);
      color: $color-main;
    }

    &.active {
      background-color: $color-main;
      color: white;
    }

    &:not(:first-child) {
      margin-left: -2px;
      z-index: 1;
    }
  }

  &_transparent {

    .tab-toggles__button {
      color: rgba($color-font, .8);
      border-color: transparent;

      &:hover, &:active {
        color: rgba($color-main, .8);
      }

      &.active {
        color: rgba($color-main, .8);
        border-color: $color-main;
        background-color: transparent;
      }

      &:not(:first-child) {
        margin-left: 0;
        z-index: 1;
      }
    }
  }

  &_transparent_second {

    .tab-toggles__button {
      color: $color-placeholder;
      border: 1px solid transparent;
      border-right-color: rgba(#000, .15);

      &:hover, &:active {
        color: rgba($color-main, .5);
      }

      &.active {
        color: $color-main;
        border-color: rgba($color-main, .5);
        background-color: transparent;
      }

      &:not(:first-child) {
        margin-left: -1px;
        z-index: 2;
      }
    }
  }

  &_transparent_third {

    .tab-toggles__button {
      color: $color-main;
      border: 1px solid transparent;
      background-color: transparent;
      border-right-color: rgba(#858585, .15);

      &:hover, &:active {
        background-color: transparent;
        border-color: transparent;
        color: rgba($color-main, 6);
      }

      &.active {
        border-color: $color-main;
        background-color: $color-main;
        color: white;
      }

      &:not(:first-child) {
        margin-left: -1px;
        z-index: 2;
      }
    }
  }

  &_big {

    .tab-toggles__button {

      .button__name {
        font-size: 18px;
      }
    }
  }

  &_link {

    .tab-toggles__button {
      padding: 2px 0;
      font-size: 13px;
      color: $color-main;
      border-width: 0 0 1px;
      border-color: rgba($color-main, .4);
      font-weight: 400;
      margin-bottom: 0;

      &:hover, &:active {
        color: rgba($color-main, .6);
        border-color: rgba($color-main, .2);
      }

      &.active {
        color: $color-main;
        font-weight: 500;
        background-color: transparent;
        border-color: transparent;
      }

      &:not(:first-child) {
        margin-left: 0;
        z-index: 1;
      }
    }
  }
}
