include ../../blocks/button/button

mixin tab-toggles(data)
  -var nname = "";
  +b.tab-toggles&attributes(attributes)
    each bbtn in data
      -if (bbtn.main) {var mainClass = "active"} else {var mainClass = ""}
      +button('a')(class= " " + mainClass, data-tab-target= bbtn.target).__button= bbtn.name
