.tab-toggles {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @include s-desktop {
    width: 100%;
  }

  &__button {
    position: relative;
    padding: 16px 34px;
    z-index: 2;
    color: $color-main;
    border: 2px solid rgba($color-main, .2);
    background-color: transparent;

    &:hover, &:active {
      background-color: transparent;
      border-color: rgba($color-main, .8);
      color: $color-main;
    }

    &.active {
      background-color: $color-main;
      color: white;
    }

    &:not(:first-child) {
      margin-left: -2px;
      z-index: 1;
    }
  }

  &_transparent {

    .tab-toggles__button {
      color: rgba($color-font, .8);
      border-color: transparent;

      &:hover, &:active {
        color: rgba($color-main, .8);
      }

      &.active {
        color: rgba($color-main, .8);
        border-color: $color-main;
        background-color: transparent;
      }

      &:not(:first-child) {
        margin-left: 0;
        z-index: 1;
      }
    }
  }
}
