include ../../blocks/button/button

mixin tab-toggles(data)
  -var btnColor = "";
  -var nname = "";
  +b.tab-toggles&attributes(attributes)
    each bbtn in data
      -if(i == 0) {btnColor = "_transparent_second active"}
      -else {btnColor = "_transparent_second"}
      -if (bbtn.main) {var mainClass = "active"} else {var mainClass = ""}
      +button('a')(class= btnColor + " ", data-tab-target= bbtn.target)(class = mainClass).__button= bbtn.name
