.input-password {
  position: relative;
  width: 100%;

  &__password {
    padding-right: 55px !important;
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 20px;
    height: 13px;
    fill: #a7a7a7;
    transform: translate(0, -50%);
    transition: all .25s ease-in-out;
    cursor: pointer;

    &.active {
      fill: $color-font;
    }
  }
}
