include ../input/input
include ../icon/icons

mixin input-password(placeholder, id)
  +b.input-password&attributes(attributes)
    +input(type="password", id=id, placeholder=placeholder required).__password
    +icon("eye").__button
