mixin file-input(btnName, emptyText, btnAddClass)
  -var btnClass = ""
  -if(btnAddClass) {btnClass = btnAddClass} else {btnClass = "button_transparent_second"}
  +b.file-input&attributes(attributes)
    +e.OUTPUT(for="files").output
      +e.SPAN.placeholder= emptyText
      +b.files-list.__files-list
    +e.buttons
      block
      +e.LABEL(for="files" class="fileselect " + btnClass)= btnName
        +e.INPUT(type="file" id="files" name="files[]" multiple).files
