mixin file-input(btnName, emptyText, id, btnAddClass)
  -var btnClass = ""
  -var inputId = "files"
  -if(btnAddClass) {btnClass = btnAddClass} else {btnClass = "button_transparent_second"}
  -if(id) {inputId = id}
  +b.file-input&attributes(attributes)
    +e.OUTPUT(for=inputId).output
      +e.SPAN.placeholder= emptyText
      +b.UL.files-list.__files-list
    +e.buttons
      block
      +e.LABEL(for=inputId class="fileselect " + btnClass)= btnName
        +e.INPUT(type="file" id=inputId name="files[]" multiple).files
