mixin file-drop(placeholder)
  -var labelText = "Перенесите файл"
  -if(placeholder) {labelText = placeholder}
  +b.file-drop&attributes(attributes)
    +e.SPAN.label= labelText
    +e.OUTPUT.output
      +b.UL.files-list
