extends ../../layouts/default

block head
  - var pageTitle = 'Wiki Pravo — Каталог заявок'

block content
  +b.requests-catalog
    +requests-catalog-header
    +requests-list(getData('requests'))
    +page-navigation(getData('page-navigation-request'))

block page-left
  +sidebar

block page-top
  +header

block page-bottom
  +footer
