.lk-client-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  background: $color-bg-index;
  padding: 44px 50px;

  &__title {
    box-sizing: border-box;
    padding: 28px 30px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 5px;
  }

  &__card {
    width: 100%;
    border: 1px solid #e4e8ea;
  }

  &__tabs {
    width: 100%;
  }
}
