.lk-specialist-request {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 50px;
  background-color: $color-bg-index;
}
