.page-title {
  font-size: 30px;
  line-height: 1.5em;
  letter-spacing: .06em;
  color: $color-font;
  font-weight: 400;

  b {
    font-weight: 500;
  }

  &_small {
    font-size: 20px;
  }

  &_dark {
    color: #121521;
  }
}
