include ../../blocks/searchbar/searchbar
include ../../blocks/searchform/searchform

mixin catalog-search(authorized)
  -var login = authorized
  +b.SECTION.catalog-search&attributes(attributes)
    +searchbar("Введите любую интересующую информацию о юристе").__searchbar
      +button("button")(type="submit")._blue.__button Найти
    +searchform(login).__advanced
    block
