.correspondence {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 27px 40px 6px;
  width: 100%;
  background-color: #fff;

  &__title {
    width: 100%;
    margin-bottom: 22px;
  }

  &__comment {
    max-width: 872px;
    width: 100%;
    margin-bottom: 26px;
  }

  &__message {
    margin-top: -12px;

    .file-input__placeholder {
      font-size: 0;
    }
  }
}
