.correspondence {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 27px 40px 6px;
  width: 100%;
  background-color: #fff;

  &__title {
    width: 100%;
    margin-bottom: 22px;
  }

  &__comment {
    max-width: 872px;
    width: 100%;
    margin-bottom: 26px;
  }

  &__message {
    margin-top: -12px;

    .file-input__placeholder {
      font-size: 0;
    }
  }

  &_reverse {
    padding: 22px 40px 36px;

    .correspondence {

      &__message {
        margin-top: 0;
        padding: 0;
        margin-bottom: 42px;

        .file-input__placeholder {
          font-size: 13px;
          display: inline-block;
          margin-bottom: 12px;
        }

        .file-input__fileselect {
          width: 250px;

          @include s-desktop {
            flex: 1;
            max-width: none;
            width: auto;
            min-width: 0;
          }
        }

        .message__button {
          @include s-desktop {
            flex: 1;
            max-width: none;
            width: auto;
            min-width: 0;
          }
        }
      }

      &__comment {
        margin-bottom: 28px;
      }
    }
  }
}
