include ../avatar/avatar
include ../like-button/like-button
include ../button/button

mixin short-review(data, full, complain)
  +b.ARTICLE.short-review&attributes(attributes)
    +e.avatar
      +avatar(data.image).__img
    +e.review
      +e.H4.title
        +e.A.author(href="#")= data.author
        +like-button(data.like)(class="_" + data.like.name).__like
        -if(full)
          +e.TIME.date 2 месяца назад
        -if(complain)
          +button('button')(type="button")._text._noborder._small.__complain Пожаловаться
      -if(full)
        +e.subject
          +e.B.type Консультация:
          +e.P.text  правомерность штрафа ГИБДД на сумму
            +e.B 3000 Р
      +e.P.content= data.review
