.short-review {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__avatar {
    margin-right: 31px;
  }

  &__review {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 113px);
  }

  &__title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 20px;
    font-weight: 400;
  }

  &__like {
    margin-right: 8px;
  }

  &__author {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    color: $color-font;
    letter-spacing: .035em;
    margin-right: 14px;
    transition: all .25s ease-in-out;
    cursor: pointer;

    &:hover {
      color: rgba($color-font, .6);
    }
  }

  &__content {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .035em;
    line-height: 1.42em;
    width: 100%;
  }

  &__date {
    font-size: 13px;
    font-weight: 400;
    color: #b9b9b9;
    letter-spacing: .04em;

    &:not(:last-child) {
      margin-right: 29px;
    }
  }

  &__subject {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .04em;
    line-height: 1.42em;
    margin-bottom: 12px;

    b {
      font-weight: 700;
      letter-spacing: .04em;
    }
  }

  &__type {
    margin-right: 4px;
  }

  &_big {

    .short-review__author {
      font-size: 18px;
    }
  }
}
