include ../icon/icons
include ../button/button

mixin client-registration(data)
  +b.client-registration&attributes(attributes)
    +e.img
      +e.IMG(src= data.image)
    +e.H2.title= data.title
    +button(getData('registration-button'))._white.__button
