include ../icon-link/icon-link

mixin sitemaplist()
  +b.UL.sitemap
    +icon-link("", "Карта сайта")(href="sitemap.html")
    +icon-link("", "Главная")(href="index.html")
    +icon-link("", "Каталог юристов")(href="catalog.html")
    +icon-link("", "Каталог юристов в категории Гражданское право")(href="catalog-civil-law.html")
    +icon-link("", "Профиль юриста")(href="jurist-profile.html")
    +icon-link("", "Каталог заявок")(href="requests-catalog.html")
    +icon-link("", "Просмотр заявки специалист")(href="request.html")
    +icon-link("", "Просмотр заявки клиент")(href="request-client.html")
    +icon-link("", "Регистрация шаг1")(href="registration.html")
    +icon-link("", "Регистрация шаг2")(href="registration-2.html")
    +icon-link("", "Регистрация шаг3")(href="registration-3.html")
    +icon-link("", "Регистрация шаг2 специалист")(href="registration-jurist-2.html")
    +icon-link("", "Форма заказать")(href="order.html")
    +icon-link("", "Форма заказать(50%)")(href="order-50.html")
    +icon-link("", "ЛК Специалист - Заявка")(href="lk-specialist-request.html")
    +icon-link("", "ЛК Специалист - Заявка (Восстановить)")(href="lk-specialist-request-restore.html")
    +icon-link("", "ЛК Специалист - Мои заказы")(href="lk-specialist-order.html")
    +icon-link("", "Профиль клиента - Просмотр")(href="client-profile.html")
    +icon-link("", "Мои сообщения")(href="mymessages.html")
    +icon-link("", "Сообщения")(href="user-messages.html")
    +icon-link("", "Сообщения(блокировка)")(href="user-messages-block.html")
    +icon-link("", "Счет на сайте")(href="account.html")
    +icon-link("", "Счет на сайте(специалист)")(href="account-specialist.html")
    +icon-link("", "ЛК Клиент. Профиль")(href="lk-client-profile.html")
    +icon-link("", "Заявка со сделками (исполнитель)")(href="request-deals.html")
    +icon-link("", "Заявка со сделками (в работе)")(href="request-deals-working.html")
    +icon-link("", "Заявка со сделками (в арбитраже)")(href="request-deals-arbitr.html")
    +icon-link("", "Заявка со сделками (завершено)")(href="request-deals-complete.html")
    +icon-link("", "ЛК Специалист. Профиль")(href="lk-specialist-profile.html")
    +icon-link("", "ЛК Клиент. Мои заказы")(href="lk-client-order.html")
    +icon-link("", "ЛК Клиент. Заказ. Юристы и сделки")(href="order-contractors-vs-deals.html")

