include ../icon-link/icon-link

mixin sitemaplist()
  +b.UL.sitemap
    +icon-link("", "Карта сайта")(href="sitemap.html")
    +icon-link("", "Главная")(href="index.html")
    +icon-link("", "Каталог юристов")(href="catalog.html")
    +icon-link("", "Каталог юристов в категории Гражданское право")(href="catalog-civil-law.html")
    +icon-link("", "Профиль юриста")(href="jurist-profile.html")
    +icon-link("", "Каталог заявок")(href="requests-catalog.html")
    +icon-link("", "Просмотр заявки специалист")(href="request.html")
    +icon-link("", "Просмотр заявки клиент")(href="request-client.html")
