include ../icon-link/icon-link

mixin sitemaplist()
  +b.UL.sitemap
    +icon-link("", "Карта сайта")(href="sitemap.html")
    +icon-link("", "Главная")(href="index.html")
    +icon-link("", "Каталог юристов")(href="catalog.html")
    +icon-link("", "Каталог заявок")(href="requests-catalog.html")
