.profile-control {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 38px;
  overflow: visible;
  background-color: transparent;

  &.disabled, &:hover.disabled {

    .profile-control__img {
      background-color: $color-bg-index;
      box-shadow: none;
    }

    .profile-control__icon {
      fill: $color-citylist-item;
    }

    .profile-control__title {
      color: $color-citylist-item;
    }
  }

  &.active {
    .profile-control__img {
      background-color: $color-bg-index;
    }

    .profile-control__icon {
      fill: $color-green-dark;
    }

    .profile-control__title {
      color: $color-green-dark;
    }
  }

  &:hover {

    .profile-control__img {
      background-color: $color-green-dark;
      box-shadow: 0 0 10px rgba($color-green-dark, .25);
    }

    .profile-control__icon {
      fill: #fff;
    }

    .profile-control__title {
      color: $color-green-dark;
    }
  }

  &__img {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    min-width: 38px;
    height: 38px;
    background-color: $color-bg-index;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba($color-searchform-selectbox-shadow, .25);
    transition: all .25s ease-in-out;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $color-main;
    transition: all .25s ease-in-out;
  }

  &__title {
    margin-left: 22px;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: .04em;
    font-weight: 400;
    color: $color-main;
    transition: all .25s ease-in-out;

    @include tablet {
      display: none;
    }
  }

  &_favorites {

    .profile-control__icon {
      width: 21px;
      height: 21px;
    }
  }

  &_blacklist {

    .profile-control__icon {
      width: 18px;
      height: 21px;
    }

    &:hover {

      .profile-control__img {
        background-color: $color-red;
      }

      .profile-control__icon {
        fill: #fff;
      }

      .profile-control__title {
        color: $color-red;
      }
    }

    &:hover.disabled {

      .profile-control__img {
        background-color: $color-bg-index;
      }

      .profile-control__icon {
        fill: $color-citylist-item;
      }

      .profile-control__title {
        color: $color-citylist-item;
      }
    }

    &.active {

      .profile-control__img {
        background-color: $color-bg-index;
      }

      .profile-control__icon {
        fill: $color-red;
      }

      .profile-control__title {
        color: $color-red;
      }

      &:hover {

        .profile-control__img {
          background-color: $color-red;
        }

        .profile-control__icon {
          fill: #fff;
        }

        .profile-control__title {
          color: $color-red;
        }
      }
    }
  }

  &_note {

    .profile-control__icon {
      width: 21px;
      height: 21px;
    }

    &.active {

      .profile-control__title {
        display: none;
      }
    }
  }
}
