include ../icon/icons
include ../note/note

mixin profile-control(data)
  +b.A(class="profile-control" + "_" + data.type, href= data.href, title= data.title )&attributes(attributes)
    +icon(data.image).__icon
  -if(data.type == "note")
    +note(data.text).profile-control__note
