include ../icon/icons
include ../note/note

mixin profile-control(type, title, image, state)
  -var controlState = ""
  -if(state) {controlState = " " + state;}
  +b.A(class="profile-control" + "_" + type + controlState, href= "#", title= title )&attributes(attributes)
    +icon(image).__icon
