.request-condition {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

  &__type {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: .04em;
    font-weight: 500;
    white-space: nowrap;
  }

  &__text {
    font-size: 13px;
    line-height: 1.5em;
    letter-spacing: .04em;
    font-weight: 400;
    white-space: nowrap;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    margin-right: 10px;
    transform: translate(0, -50%);

    &_time {
      width: 15px;
      height: 15px;
      stroke: rgba($color-font, .8);
      fill: transparent;
    }

    &_money {
      width: 20px;
      height: 16px;
      fill: rgba($color-font, .8);
    }
  }

  &__type, &__time {
    margin-right: 43px;
  }

  &__time, &__price {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
  }

  &__time {
    padding-left: 25px;
  }

  &__price {
    padding-left: 30px;
  }
}
