.catalog-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__title {
    margin-bottom: 26px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  &__item {
    box-sizing: border-box;
    text-align: left;
    width: 25%;
    padding-right: 20px;
  }
}
