.author {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: .04em;
  font-weight: 400;

  &__online {
    width: 13px;
    height: 13px;
    margin-right: 9px;
    border-radius: 50%;
    background-color: $color-author-status;

    &_true {
      background-color: $color-green-dark;
    }
  }

  &__name {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: 500;
    margin-right: 10px;
  }

  &__location {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: 400;
    color: $color-author-status;
  }
}
