.logo-block {
  text-align: center;

  &__brand {
    color: #fff;
    font-family: $font-second;
    font-size: 27px;
    font-weight: 600;
    line-height: (48/27)*1em;
  }

  &__text {
    color: rgba(white, .4);
    font-size: 14px;
    font-weight: 300;
    line-height: (25/14)*1em;
  }
}
