mixin logo-block()
  +b.logo-block&attributes(attributes)
    +e.logo
      +e.IMG.image(src="assets/images/logo.png")
    +e.P.brand Wiki Pravo
    +e.P.text АНО “Национальная рейтинговая юридическая система”
