mixin logo-block()
  +b.logo-block&attributes(attributes)
    +e.logo
      +e.IMG.image(src="" width="120" height="95")
    +e.P.brand Wiki Pravo
    +e.P.text АНО “Национальная рейтинговая юридическая система”
    
    //- assets/images/logo.png
