.logo-block {
  text-align: center;

  &__brand {
    color: #fff;
    font-family: $font-second;
    font-size: 27px;
    font-weight: 600;
    line-height: 1em;

    &:not(:first-child) { margin-top: 29px; }
  }

  &__image {
    background-color: rgba(white, .1); // Убрать, когда появится иконка
  }

  &__text {
    color: rgba(white, .4);
    font-size: 14px;
    font-weight: 300;
    line-height: (25/14)*1em;

    &:not(:first-child) { margin-top: 5px; }
  }
}
