.client-profile-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  background-color: #fff;

  &__person {
    width: 390px;
    min-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    border-right: 1px solid rgba($color-font, .1);
    padding: 30px 38px 30px 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 106px;
    min-width: 106px;
    margin-right: 26px;
  }

  &__status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
  }

  &__describe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 30px 38px;
  }

  &__reginfo {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1.5em;
    color: rgba($color-font, .5);
  }

  &__regtime {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: .04em;
    line-height: inherit;
    color: inherit;
  }
}
