include ../../blocks/popup/popup
include ../../blocks/block-title/block-title
include ../../blocks/input/input
include ../../blocks/button/button
include ../../blocks/file-drop/file-drop

mixin popup-education()
  +popup.popup-education__#popup-education&attributes(attributes)
    +block-title("Образование")._bold.__title
    +e.FORM.__form
      +e.__row
        +e.__col_label
          +e.SPAN.__required *
          +e.LABEL(for="university").__label ВУЗ
        +e.__col_field
          +input(type="text" placeholder="Название ВУЗа" id="university" required).__input
      +e.__row
        +e.__col_label
          +e.SPAN.__required *
          +e.LABEL(for="faculty").__label Факультет
        +e.__col_field
          +input(type="text" placeholder="Факультет" id="faculty" required).__input
      +e.__row
        +e.__col_label
          +e.SPAN.__required *
          +e.LABEL.__label Обучение с
        +e.__col_field
          +input(type="text" required).__input_short
          +e.SPAN.__label_margin г
          +e.SPAN.__label_smargin по
          +input(type="text" required).__input_short
          +e.SPAN.__label г
      +e.__row
        +e.__col_label
          +e.LABEL.__label Загрузить диплом
        +e.__col_field
          +file-drop("Загрузите подтверждающий документ").__files
      +e.__row_button
        +button('button')(type="submit")._text._border._big.__button Сохранить

