.selectbox {
  position: relative;
  color: white;

  &_visible .selectbox__list { overflow: visible; }

  &_height .selectbox__list { max-height: 150px; }

  &__title {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    margin-top: -10px;
    transition: all .25s ease-in-out;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, 10px, 0);

    span {
      min-width: 64%;
      left: -10px;
      margin-right: 15px;
      padding: 14px 30px;
      background: #f1f5f8;
      font-style: italic;
      text-align: left;
      color: #6d707a;
      font-size: 13px;
      line-height: 1.6em;
      box-shadow: 0 3px 10px -1px rgba(10, 38, 51, .14);
      border-radius: 2px;
      display: inline-block;
      position: absolute;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -6px;
      border-width: 0 6px 7px;
      border-style: solid;
      border-color: #f1f5f8 transparent;
      width: 0;
    }
  }

  &_active {

    .fa-angle-down { transform: translateY(-50%) rotate(180deg); }

    .button_blue .fa-angle-down { transform: rotate(180deg); }

    &.selectbox_link .selectbox__right-icon.fa-angle-down { transform: rotate(180deg); }

    .selectbox {
      &__button { background-color: rgba(#abafc4, .5); }

      &__list {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__list {
    width: 100%;
    max-height: 212px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    background-color: $color-dark-grey;
    box-shadow: 0 0 46px rgba(black, .62);
    z-index: 10;
    transform: translate3d(0, 10px, 0);
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-in-out;

    &_top {
      transform: translate3d(0, -10px, 0);
      bottom: 100%;
      top: auto;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &__sublist {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    max-height: 212px;
    z-index: 11;
  }

  &__option {
    position: relative;
    font-size: 13px;
    line-height: 1.7em;
    padding: 16px 26px 14px;
    transition: all .25s ease-in-out;

    &_active {
      background-color: rgba($color-dark-medium-grey, .3);
    }

    &:not(:first-of-type) {
      border-top: 1px solid $color-dark-medium-grey;
    }

    &:hover {
      background-color: $color-dark-medium-grey;
      cursor: pointer;

      .selectbox__title {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      .selectbox__sublist {
        display: block;
      }
    }
  }

  &__button {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  &__button {
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: $color-dark-grey;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: all .25s ease-in-out;

    &:hover {
      background-color: rgba(#abafc4, .5);
    }

    .fa-angle-down {
      font-size: 18px;
      color: rgba(white, .5);
      font-weight: 400;
      transition: transform .25s ease-in-out;
    }

    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 26px;
      font-size: 13px;
      width: 100%;
      letter-spacing: .03em;
    }
  }

  &__right-icon {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
  }

  &_light {

    .selectbox {
      color: $color-placeholder;

      &__list {
        box-shadow: 0 0 32px rgba($color-searchform-selectbox-shadow, .2);
      }

      &__sublist {
        box-shadow: 16px 0 32px rgba($color-searchform-selectbox-shadow, .2);
        border: 1px solid $color-border-input;
      }

      &__button {
        background-color: #fff;
        border: 1px solid $color-border-input;
        color: $color-placeholder;

        .fa-angle-down {
          color: inherit;
        }

        &:hover, &:focus {
          border: 1px solid $color-font;
          color: $color-font;
          background-color: #fff;
        }
      }

      &__input:required:invalid ~ .selectbox__button {
        border-color: $color-error;
      }

      &__option {
        color: $color-placeholder;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:first-of-type) {
          border-top: 1px solid rgba($color-font, .15);
        }

        &:hover {
          color: $color-font;
          background-color: #fff;
        }
      }

      &__arrow {
        color: inherit;
        font-size: 18px;
      }
    }

    &_active {

      .selectbox {

        &__button {
          background-color: #fff;
        }
      }
    }
  }

  &_link {

    .selectbox {
      color: $color-font;

      &__button {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        background-color: #fff;
        font-size: 14px;
        height: auto;
        color: inherit;

        &.button_blue {
          color: white;
          background-color: $color-main;
          border-color: $color-main;
          justify-content: center;
          padding-top: 11px;
          padding-bottom: 12px;
          align-items: center;
          height: 100%;

          .button__arrow {
            color: rgba(white, .75);
          }

          &:hover, &:active, &.button_active {
            color: white;
            background-color: rgba($color-main, .75);
            border-color: #63abed;
          }
        }

        &-name {
          padding: 0;
          margin-right: 8px;
          font-size: inherit;
          color: $color-main;
          padding-bottom: 2px;
          border-bottom: 1px solid rgba($color-main, .25);
          cursor: pointer;
        }
      }

      &__right-icon {
        font-size: 18px;
        color: $color-main;
        position: static;
        transform: translate(0);
        transition: all .25s ease-in-out;
      }

      &__label {
        color: $color-font;
        font-size: 14px;
        margin-right: 4px;
      }

      &__list {
        left: auto;
        right: 0;
        max-height: 160px;
        min-width: 200px;
        box-shadow: 0 0 32px rgba($color-searchform-selectbox-shadow, .2);
        background-color: white;
        z-index: 10;
      }

      &__option {
        color: $color-citylist-item;
        background-color: #fff;
        border-color: #f1f5f8;

        &:hover {
          color: $color-font;
          background-color: #fff;
        }
      }
    }

    &_light {
      .selectbox {

        &__button-name {
          color: #7ab5f1;
        }

        &__right-icon {
          color: rgba($color-main, .4);
        }
      }
    }

    &_noborder {

      .selectbox {

        &__button-name {
          border-bottom: none;
        }
      }
    }
  }
}
