mixin selectbox(data, label, required, def)
  -var req = false
  -var placeholder = data.option[0].name
  -var defaultValue = ""
  -if(data.placeholder) {placeholder = data.placeholder} else {defaultValue = data.option[0].name}
  -if(def) {placeholder = def; defaultValue = def}
  -if(required) {req= true}
  +b.selectbox&attributes(attributes)
    +e.INPUT.input(type='hidden' value=defaultValue placeholder=placeholder required=req)
    +e.button
      -if(label)
        +e.SPAN.label= label
      +e.SPAN.button-name= placeholder
      +e.I.right-icon(class='fa fa-angle-down')
    +e.container
      +e.UL.list
        each option in data.option
          +e.LI.option= option.name
            -if (option.suboption)
              +e.I.arrow(class='fa fa-angle-right')
              +e.UL.sublist
                each suboption in option.suboption
                  +e.LI.option= suboption
