.popup-conditions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 772px;
  padding: 40px 50px;

  &__title {
    width: 100%;
    margin-bottom: 45px;
  }

  &__form {
    width: 100%;
  }
}
