.avatar {
  position: relative;
  min-width: 82px;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  z-index: 2;
  overflow: hidden;

  &_smallest {
    min-width: 50px;
    width: 50px;
    height: 50px;
  }

  &_smaller {
    min-width: 54px;
    width: 54px;
    height: 54px;
  }

  &_small {
    min-width: 68px;
    width: 68px;
    height: 68px;
  }

  &_big {
    min-width: 106px;
    width: 106px;
    height: 106px;
  }

  &_blue-border {
    border: 2px solid $color-main;
  }

  &_dark-bg {
    background-color: $color-font;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    width: 0;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    z-index: 1;
  }
}
