include ../menulist/menulist

mixin category(data)
  +b.category&attributes(attributes)
    +e.title
      +e.img
        +e.IMG(src= data.image)
      +e.P= data.title
    +menulist(data.list).__list
