include ../button/button
include ../vote-block/vote-block
include ../status-list/status-list
include ../specialization/specialization
include ../experience/experience
include ../icon/icons
include ../avatar/avatar
include ../selectbox/selectbox_bluebutton

mixin lawyercard(data)
  -var online = data.online;
  -var checked = data.checked;
  -var busy = true;
  -if(data.busy == 'Занят') {busy= false;}
  +b.SECTION.lawyercard&attributes(attributes)
    +e.SECTION.about
      +e.H3.title_about
        +e(class= "checkstatus_" + checked)
          +icon("check").__icon
        +e.SPAN.lawyername
          a(href="#")= data.name
        +e.SPAN(class= "online_" + online)
      +e.info
        +avatar(data.image)._big.__img
        +e.status
          +status-list(data.status).__status-list
          +vote-block(data.vote).__likes
      +e.A.publicwork
        |Дел на РосПравосудие:
        +e.SPAN.workcount= data.publicworkcount
      +experience(data.experience).__experience
    +e.SECTION.order
      +e.specialization
        +e.H3.title_specialization
          +e.SPAN Специализации
          +e.A(href= data.specialization.href) Показать все
        +specialization(data.specialization.list).__list
        +selectbox_bluebutton(getData('lawyer-dropdown-button')).__orderbutton Заказать
        +e.A.maillink(href= "mailto:" + data.email) Написать сообщение
