include ../button/button
include ../vote-block/vote-block
include ../status-list/status-list
include ../specialization/specialization
include ../experience/experience
include ../icon/icons

mixin lawyercard(data)
  -var online = data.online;
  -var checked = data.checked;
  -var busy = true;
  -var orderBtn = [{"type" : "link", "name" : "Заказать", "arrow" : "down", "href" : "#"}]
  -if(data.busy == 'Занят') {busy= false;}
  +b.SECTION.lawyercard&attributes(attributes)
    +e.SECTION.about
      +e.H3.title_about
        +e(class= "checkstatus_" + checked)
          +icon("check").__icon
        +e.SPAN.lawyername= data.name
        +e.SPAN(class= "online_" + online)
      +e.info
        +e.img
          +e.IMG(src= data.image)
        +e.status
          +status-list(data.status).__status-list
          +vote-block(data.vote).__likes
      +e.A.publicwork
        |Дел на РосПравосудие:
        +e.SPAN.workcount= data.publicworkcount
      +experience(data.experience).__experience
    +e.SECTION.order
      +e.specialization
        +e.H3.title_specialization
          +e.SPAN Специализации
          +e.A(href= data.specialization.href) Показать все
        +specialization(data.specialization.list).__list
        +button(orderBtn)._blue.__orderbutton
        +e.A.maillink(href= "mailto:" + data.email) Написать сообщение
