.lawyercard {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgba($color-font, .1);

  &__about, &__order {
    box-sizing: border-box;
    width: 50%;
  }

  &__about {
    padding: 13px 35px 13px 18px;
    border-right: 1px solid rgba($color-font, .1);
  }

  &__order {
    padding: 13px 18px 13px 35px;
  }

  &__title {
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: $color-font;
    line-height: 1.5em;
    letter-spacing: .04em;
    margin-bottom: 16px;

    &_about {
      position: relative;
      padding-left: 30px;
      text-align: left;
      display: flex;
      align-items: flex-start;
    }

    &_specialization {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 6px;

      >span { margin-right: 20px; }

      a {
        position: relative;
        font-size: 13px;
        color: $color-main;
        letter-spacing: .044em;
        text-decoration: none;
        transition: all .25s ease-in-out;
        cursor: pointer;
        white-space: nowrap;

        &::before {
          position: absolute;
          content: '';
          bottom: .5em;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: rgba($color-main, .4);
          transition: all .25s ease-in-out;
        }

        &:hover {

          &::before {
            background-color: transparent;
          }
        }
      }
    }
  }

  &__checkstatus {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: .75em;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid transparent;
    transform: translate(0, -50%);

    &_true {
      border-color: $color-green-dark;

      .lawyercard__icon {
        fill: $color-green-dark;
      }
    }

    &_false {
      border-color: $color-red;

      .lawyercard__icon {
        fill: $color-red;
      }
    }
  }

  &__icon {
    width: 9px;
    height: 8px;
  }

  &__lawyername {
    letter-spacing: .04em;
  }

  &__online {
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-top: 9px;
    flex-basis: 9px;
    min-width: 9px;
    margin-left: 6px;

    &_true {
      background-color: $color-green;
    }

    &_false {
      background-color: $color-offline;
    }
  }

  &__info {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    padding: 8px 0;
    margin-bottom: 12px;
  }

  &__img {
    position: relative;
    min-width: 106px;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      margin: auto;
      object-fit: cover;
    }
  }

  &__status {
    box-sizing: border-box;
    padding: 2px 0 8px 28px;
    flex-grow: 1;
    max-width: calc(100% - 106px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__publicwork {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 8px;
    font-size: 13px;
    line-height: 1.3em;
    letter-spacing: .04em;
    text-align: center;
    color: $color-main;
    border: 1px solid rgba($color-main, .3);
    cursor: pointer;
    margin-bottom: 13px;

    &:hover { opacity: .7; }
  }

  &__workcount {
    border-bottom: 1px solid rgba($color-main, .55);
  }

  &__experience {
    width: 100%;
  }

  &__list {
    padding-bottom: 10px;
    margin-bottom: 13px;
  }

  &__orderbutton {
    width: 100%;
    padding: 12px 31px;
    margin-bottom: 24px;
  }

  &__maillink {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 2.31em;
    letter-spacing: .04em;
    color: $color-main;
    cursor: pointer;

    &:hover { opacity: .7; }
  }
}
