.avatar-browse {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 147px;
  min-width: 147px;
  height: 147px;
  cursor: pointer;
  z-index: 1;

  &__input {
    display: none;
  }

  &__label {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 50%;
    left: 50%;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: .025em;
    color: $color-placeholder;
    padding: 0 18px;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  &__remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: transparent;
    cursor: pointer;
    z-index: 4;

    &:hover {

      .avatar-browse__icon {
        stroke: #878787;
      }
    }
  }

  &__icon {
    width: 15px;
    height: 15px;
    fill: transparent;
    stroke: $color-placeholder;
    transition: all .25s ease-in-out;
  }

  &__output {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid $color-border-input;
    z-index: 2;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 0;
    margin: auto;
    object-fit: cover;
  }
}
