.textarea {
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
  font-size: 13px;
  line-height: 1.5em;
  letter-spacing: .06em;
  font-weight: 400;
  color: $color-font;
  resize: none;
  background-color: #fff;
  border-radius: 2px;
  border: none;
  outline: none;

  &:placeholder {
    font-size: 13px;
    line-height: 1.5em;
    letter-spacing: .06em;
    font-weight: 400;
    color: rgba(#afafaf, .8);
  }

  &_grey {
    border: 1px solid $color-border-input;

    &:placeholder {
      color: $color-placeholder;
    }
  }

  &:required:invalid {
    outline: none;
    box-shadow: none;
  }

  &.invalid {
    border-color: $color-error;
  }

  &_border {
    border: 1px solid #e1e1e1;
  }
}
