.review {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__header {
    box-sizing: border-box;
    padding: 24px 29px 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 1px solid rgba(black, .1);
  }

  &__avatar {
    box-sizing: border-box;
    padding-top: 8px;
    min-width: 105px;
  }

  &__img {
    position: relative;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      margin: auto;
      object-fit: cover;
    }
  }

  &__describe {
    box-sizing: border-box;
    width: calc(100% - 105px);
    padding-left: 34px;
  }

  &__title {
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 2.22em;
    letter-spacing: .04em;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__name {
    margin-right: 41px;
    white-space: nowrap;
    letter-spacing: .04em;
    transition: all .25s ease-in-out;

    &:hover {
      color: rgba($color-font, .6);
    }
  }

  &__time {
    font-size: 13px;
    letter-spacing: .04em;
    color: rgba($color-font, .6);
    white-space: nowrap;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 13px;
    line-height: 1.92em;
    letter-spacing: .04em;
    font-weight: 700;
    width: 100%;

    a {
      color: $color-main;
      border-bottom: 1px solid rgba($color-main, .3);
      cursor: pointer;
      line-height: 1.2em;

      &:hover {
        border-color: transparent;
      }
    }
  }

  &__category {
    box-sizing: border-box;
    display: inline-block;
    width: 35%;
    min-width: 130px;
    padding-right: 10px;
    letter-spacing: .04em;
  }

  &__value {
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .04em;
    font-weight: 400;
  }

  &__content {
    box-sizing: border-box;
    padding: 14px 29px;
    width: 100%;

    p {
      font-size: 14px;
      line-height: 1.79em;
      font-weight: 400;
      letter-spacing: .023em;
    }
  }
}
