.files-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;

    a {
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      cursor: pointer;
      color: #010101;

      &:hover {
        color: rgba(#010101, .8);
      }
    }

    &:not(:last-of-type) {
      margin-right: 34px;
    }
  }

  &__img {
    width: 18px;
    height: 24px;
    margin-right: 12px;
  }

  &__filename {
    font-size: 13px;
    line-height: 1em;
    letter-spacing: .04em;
    font-weight: 400;
    color: inherit;
    margin-right: 12px;
  }

  &__remove {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:hover {

      .files-list__icon {
        fill: transparent;
        stroke: #8f8f8f;
      }
    }
  }

  &__icon {
    width: 10px;
    height: 10px;
    fill: transparent;
    stroke: #afafaf;
    transition: all .25s ease-in-out;
  }

  &_attach {

    .files-list {

      &__filename {
        margin-right: 9px;
      }

      &__icon {
        width: 18px;
        height: 17px;
        stroke: transparent;
        fill: rgba($color-font, .5);
      }
    }
  }

  &_blue {

    .files-list__item {

      a {
        color: $color-main;

        &:hover {
          color: rgba($color-main, .8);
        }
      }
    }
  }
}
