.advantages-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 58px;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &__check {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    top: 7px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-main;

    svg {
      width: 12px;
      height: 11px;
      fill: #fff;
    }
  }

  &::before {
    position: absolute;
    content: '';
    top: 7px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-main;
    background-image: url('http://placehold.it/10x10');
    background-position: center;
    background-repeat: no-repeat;
  }

  &_red {

    .advantages-item__check {
      background-color: $color-red;
    }
  }

  &_blue {

    .advantages-item__check {
      background-color: $color-main;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: .037em;
  }

  &__describe {
    font-size: 14px;
    line-height: 2.14em;
    letter-spacing: .035em;
    color: rgba($color-font, .6);
  }
}
