include ../../node_modules/bemto.pug/bemto
include ../components/sidebar/sidebar
include ../components/header/header
include ../components/index-info/index-info
include ../components/index-advantages/index-advantages
include ../components/index-categories/index-categories
include ../components/index-lawyers/index-lawyers
include ../components/index-reviews/index-reviews
include ../components/footer/footer
include ../components/catalog-navigation/catalog-navigation
include ../components/catalog-search/catalog-search
include ../components/popups/popups
include ../components/popup-login/popup-login
include ../components/page-navigation/page-navigation
