.contractor-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  box-sizing: border-box;

  &__button {
    padding: 12px 17px;
    margin-bottom: 30px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    @include desktop {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
