.order-settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 25px 38px 27px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;

  h4 {
    font-weight: 600;
    font-size: 14px;
    color: #151827;
    margin: 0 0 25px;
  }

  &__title {
    margin-bottom: 19px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: $color-bg-index;
    padding: 13px 22px 0;
    width: 50%;
    min-width: 740px;
    margin-bottom: 24px;

    @include s-desktop {
      min-width: 66%;
      width: 66%;
    }
  }

  &__radio-group {
    width: 100%;

    .radio {
      margin-bottom: 18px;
      width: 100%;

      &__label {
        white-space: normal;
      }

      &__inner-text {
        color: #988a8a;
      }
    }
  }

  &__order-label {
    font-size: 13px;
    margin-bottom: 19px;
    font-weight: 600;
  }

  &__order-row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;

    @include s-desktop {
      flex-direction: column;
    }
  }

  &__first {
    width: 60%;
    margin-right: 20px;

    @include s-desktop {
      width: 100%;
    }
  }

  &__second {
    width: calc(40% - 20px);

    @include s-desktop {
      width: 100%;
    }
  }

  &__order-col {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    &_inner {
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
    }
  }

  .selectbox_light .selectbox__button, .input {
    border-color: transparent;
  }

  &__sublabel {
    font-size: 13px;
    color: $color-placeholder;
    margin: 0 15px;
  }

  &__checkbox {
    width: 40%;
  }

  &__selectbox {
    @include s-desktop {
      width: 100%;
    }
  }
}
