include ../button-arrow/button-arrow
include ../button/button
include ../block-title/block-title
include ../steps/steps
include ../../components/dialog/dialog
include ../icon/icons
include ../deal-condition/deal-condition

mixin deal(title, status)
  -var statusName = ""
  -var stepsCount = ""
  -var statusColor = ""
  -var dialogData = getData("deal-dialog-short")
  -var messageCheckbox = ""
  -var messageId = "files"
  case status
    when 'new'
      - statusName = "Новая"
      - stepsCount = 1
      - messageId = "files1"
    when 'working'
      - statusName = "Выполняется"
      - stepsCount = 3
      - messageId = "files2"
    when 'complete'
      - statusName = "Решено"
      - stepsCount = 5
      - statusColor = "_green"
      - messageId = "files3"
    when 'close'
      - statusName = "Закрыта"
      - stepsCount = 2
      - statusColor = "_gray"
      - messageId = "files4"
    when 'test'
      - statusName = "Проверка"
      - stepsCount = 4
      - messageId = "files5"
    when 'arbitr'
      - statusName = "Арбитраж"
      - stepsCount = 4
      - dialogData = getData("deal-dialog-arbitr")
      - messageCheckbox = "client"
      - statusColor = "_red"
      - messageId = "files6"
    when 'arbitrcomplete'
      - statusName = "Решена через Арбитраж"
      - stepsCount = 5
      - dialogData = getData("deal-dialog-arbitrcomplete")
      - statusColor = "_green"
      - messageCheckbox = "client"
      - messageId = "files7"
    default
      - break
  +b.spoiler.deal__&attributes(attributes)
    +e.__header
      +block-title(title)._bolder._little.__title.spoiler__title
      +e(class="__status" + statusColor)= statusName
      +e(class="__control spoiler__control")
        +button-arrow('down', 'button')(type="button", data-open-title="Развернуть", data-close-title="Свернуть" class="_text _noborder spoiler__button") Развернуть
    +e(class="__content spoiler__content")
      +steps(stepsCount).__steps
      +deal-condition.__condition
      +e(class=" deal__stage")
        case status
          when 'new'
            +e(class=" deal__stage-describe_new")
              +block-title("Клиент ожидает принятия условий")(class="_little _bolder deal__stage-title")
              +e.P Клиент предложил вам сделку. Вы можете принять условия, отказаться или написать клиенту, чтобы уточинть условия.
            +e(class=" deal__stage-buttons")
              +button("button")(type="button")._blue._narrow.__stage-button  Принять условия
              +button("button")(type="button")._transparent_second._narrow.__stage-button  Отказаться
          when 'working'
            +e(class=" deal__stage-describe_working")
              +block-title("Клиент зарезервировал сумму. Сделка исполняется")(class="_little _bolder deal__stage-title")
              +e.P Вы можете обсуждать детали работ в переписке ниже. После завершения работ сообщите клиенту о готовности. При возникновении проблем обратитесь в Арбитраж.
            +e(class=" deal__stage-buttons")
              +button("button")(type="button")._blue._narrow.__stage-button Сообщить о завершение работы
              +button("button")(type="button" data-open-popup="popup-deal-arbitr")._transparent_second._narrow.__stage-button.js-popup-open Обратиться в Арбитраж
          when 'complete'
            +e(class=" deal__stage-describe_complete")
              +block-title("Сделка завершена")(class="_little _bolder deal__stage-title")
              +e.P Спасибо за сотруднечество!
            +e(class=" deal__stage-buttons")
              +button("button")(type="button" data-open-popup="popup-deal-review")._blue._narrow.__stage-button.js-popup-open Оставить отзыв
              +button("button")(type="button")._transparent_second._narrow.__stage-button Отзыв клиента
          when 'close'
            +e(class=" deal__stage-describe_close")
              +block-title("Сделка закрыта")(class="_little _bolder deal__stage-title")
              +e.P Клиент отказался от работы с вами по этой сделке и закрыл ее.
          when 'test'
            +e(class=" deal__stage-describe_test")
              +block-title("Вы завершили работу")(class="_little _bolder deal__stage-title")
              +e.P Работа находится на проверке у клиента. Если его все устроит, он завершит сделку и вам будет переведена зарезервированная сумма. Если у него возникнут вопросы, он может вернуть сделку в работу. Если у вас возникли сложностис завершением работ, вы можете обратиться в Арбитраж.
            +e(class=" deal__stage-buttons")
              +button("button")(type="button" data-open-popup="popup-deal-arbitr")._blue._narrow.__stage-button.js-popup-open Обратиться в Арбитраж
          when 'arbitr'
            +e(class=" deal__stage-describe_arbitr")
              +block-title("Сделка находится на рассмотрении арбитров")(class="_little _bolder _red deal__stage-title")
              +e.P Ожидайте решения арбитров по сделке. Арбитр видит всю переписку по сделке. Вы можете написать сообщение арбитру в диалоге обсуждения сделки. Если нужно, скройте его от клиента.
          when 'arbitrcomplete'
            +e(class=" deal__stage-describe_arbitrcomplete")
              +block-title("Сделка завершена по Арбитражу")(class="_little _bolder _green deal__stage-title")
              +e.P Спасибо за сотруднечество!
            +e(class=" deal__stage-arbitr")
              +block-title("Решение Арбитражного суда")(class="_little deal__stage-title")
              +e.P Распределение суммы сделки:
                +e.B 50% - Клиент, 50% - Исполнитель
              +e.P Обмен отзывами:
                +e.B Клиент - запрещено, Исполнитель - запрещено
            +e(class=" deal__stage-buttons")
              +button("button")(type="button" data-open-popup="popup-deal-review")._blue._narrow.__stage-button.js-popup-open Оставить отзыв
              +button("button")(type="button")._transparent_second._narrow.__stage-button Отзыв клиента
          default
            - break
      +dialog(dialogData, "Обсуждение сделки", true, messageId, messageCheckbox)._long.__dialog
