.popup-account-replenish {
  width: 692px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 36px 38px;
  background-color: #fff;

  &__title {
    margin-bottom: 44px;
    letter-spacing: .04em;
    width: 100%;
  }

  &__field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 81px;
    margin-bottom: 32px;
    width: 100%;
  }

  &__label {
    width: 94px;
    min-width: 94px;
    margin-right: 18px;
  }

  &__input {
    height: 45px;

    &_amount {
      width: 80px;
      min-width: 80px;
      margin-right: 13px;
    }

    &_note {
      flex: 1;
    }
  }

  &__valuta {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .04em;
    color: $color-placeholder;
  }

  &__paysystem {
    margin-top: 34px;
    width: 100%;
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
  }

  &__item {
    margin-right: 19px;
    margin-bottom: 19px;
    min-width: 190px;
    min-height: 63px;
    flex: 1;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}
