include ../../blocks/form/form
include ../../blocks/popup/popup
include ../../blocks/page-title/page-title
include ../../blocks/input/input
include ../../blocks/section-title/section-title
include ../../blocks/payment/payment
include ../../blocks/pay-systems/pay-systems

mixin popup-account-replenish()
  +popup#popup-account-replenish.popup-account-replenish__&attributes(attributes)
    +page-title("Пополнить счет").__title
    +form.__form
      +e.field_amount
        +e.LABEL(for="amount" class="__label section-title_left section-title_bold") Сумма
        +input(type="text" id="amount" name="amount" class="__input_amount")
        +e.SPAN.valuta руб
      +e.field_note
        +e.LABEL(for="note" class="__label section-title_left section-title_bold") Примечание
        +input(type="text" id="note" name="note" class="__input_note")
      +pay-systems.__paysystem
