extends ../../layouts/default

block head
  - var pageTitle = 'Wiki Pravo — Заявка со сделками (завершена)'

block content
  +b.request-deals
    +request-deal-head('#complete1', 'complete', '#complete2', 'complete').__head
    +request-card-2(true).__card
    +dialog(getData('deal-dialog-short'), "Переписка с заказчиком").__dialog

block page-left
  +sidebar

block page-top
  +header(true)

block page-bottom
  +footer

block page-popups
  +popups
    +popup-login
