.input {
  padding: 0 20px;
  display: inline-flex;
  width: 100%;
  border-radius: 2px;
  height: 55px;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #e1e1e1;
  color: $color-font;
  font-size: 13px;

  &::placeholder { color: $color-placeholder; }

  &:hover, &:focus { border: 1px solid $color-font; }

  &:required:invalid {
    box-shadow: none;
    outline: none;
  }
  
  &:disabled {
    background-color: transparent;
  }

  &.invalid {
    border: 1px solid $color-error !important;
  }

  &_noborder {
    border-color: transparent;
  }
  
  &_blue {
    background-color: #f1f5f8;
    
    &:disabled {
      background-color: #f1f5f8;
    }
  }
}
