include ../button/button

mixin order-status(status)
  +b.order-status&attributes(attributes)
    +e.name В работе
    +button('button')._text._noborder._bold.__button_open Открыть
    +button('button')._text._noborder._bold.__button_close Закрыть
    +button('button')._text._noborder._bold.__button_remove Удалить
