include ../../blocks/file-input/file-input
include ../../blocks/radiobutton/radiobutton
include ../../blocks/selectbox/selectbox
include ../../blocks/input/input
include ../../blocks/textarea/textarea
include ../../blocks/block-title/block-title
include ../../blocks/section-title/section-title

mixin order-document()
  +b.FIELDSET.order-document&attributes(attributes)
    +block-title("Какой документ вам нужен?").__title
    +e.row_half
      +section-title("Тип документа")._bold.__label
      +selectbox(getData("selectbox-order-documents"))._light._visible.__doctype
    +e.row_half
      +section-title("Мне нужно")._bold.__label
      +input(type="text" placeholder="Кратко опишите задачу")#short-describe.__input
    +e.row_half
      +section-title("Подробное описание")._bold.__label
      +textarea(placeholder="Чем подробнее вы опишите требования к документу, тем точнее юристы смогут оценить его стоимость")#describe._grey.__textarea
    +e.row_half
      +section-title("Если нужно, прикрепите файл")._bold.__label
      +file-input("Загрузить еще файл", "Нет приклепленных файлов").__files
    +e.row_row._half
      +e.col_price
        +section-title("Стоимость документа")._bold.__label
        +radio("По договоренности с юристом", "price-1", "price", "1").__radio
        +e.radiofield
          +radio("Я планирую заплатить", "price-2", "price", "2").__radio
          +input(type="text").__input_short
          +e.SPAN.__doptext руб
      +e.col_time
        +section-title("Сроки выполнения")._bold.__label
        +radio("По договоренности с юристом", "time-1", "time", "1").__radio
        +e.radiofield
          +radio("Должно быть сделано за", "time-2", "time", "2").__radio
          +input(type="text").__input_short
          +selectbox(getData("selectbox-timeduration"))._link._link_noborder._link_light._scrollable.__timeduration
