include ../selectbox/selectbox
include ../checkbox/checkbox
include ../button/button
include ../input/input
include ../filter-controls/filter-controls

mixin searchform-requests()
  +b.FORM.searchform._requests&attributes(attributes)
    +filter-controls("Показать фильтр", "Скрыть фильтр").opened
      +e.row
        +e.SPAN.label_big Показывать заявки на:
        +checkbox("Консультации", "consultation-service").__checkbox
        +checkbox("Составление документов", "document-service").__checkbox
        +checkbox("Другие услуги", "other-service").__checkbox
      +e.row
        +e.field
          +e.SPAN.label Категории права
          +selectbox(getData('selectbox-law-category'))._light
        +e.field
          +e.SPAN.label Виды документа
          +selectbox(getData('selectbox-documents'))._light
        +e.field
          +e.SPAN.label Регион
          +selectbox(getData('selectbox-searchform-city'))._light
      +e.row
        +button("button")._blue.__button Применить
