include ../selectbox/selectbox
include ../checkbox/checkbox
include ../button/button
include ../input/input
include ../filter-controls/filter-controls

mixin searchform(authorized)
  +b.FORM.searchform&attributes(attributes)
    +filter-controls("Расширенный поиск", "Cкрыть расширенный поиск").filter-controls_end.filter-controls_widepadding.opened
      +e.row
        +e.field_category
          +e.SPAN.label Категория
          +selectbox(getData('selectbox-law-category'))._light._scrollable._multilevel
        +e.field_location
          +e.SPAN.label Местоположение
          +selectbox(getData('selectbox-searchform-city'))._light._scrollable
        +e.field_document
          +e.SPAN.label Тип документов
          +selectbox(getData('selectbox-documents'))._light._scrollable._multilevel
        +e.inputfield_experience
          +e.SPAN.label Стаж работы
          +input.min(type="text" name="min" placeholder="От")
          +input.max(type="text" name="max" placeholder="До")
      +e.row_checkboxes
        +checkbox("Только адвокаты", "lawyers").__checkbox
        +checkbox("Опыт работы в Гос.Структурах", "publicwork").__checkbox
        +checkbox("Есть кабинет в здании суда", "courtroom").__checkbox
        +checkbox("Есть профиль на РосПравосудие", "rusjustice").__checkbox
      +e.row_buttons
        -if(!authorized)
          +selectbox_bluebutton(getData('lawyer-dropdown-button')).__button Заказать для отобранных
        +button("button")._transparent.__button Применить



