include ../selectbox/selectbox
include ../checkbox/checkbox
include ../button/button
include ../input/input
include ../filter-controls/filter-controls

mixin searchform-requests()
  +b.FORM.searchform._requests&attributes(attributes)
    +filter-controls("Показать фильтр", "Скрыть фильтр").filter-controls_requests.opened
      +e.row_checkboxes
        +e.SPAN.grouplabel_bold Показывать заявки на:
        +checkbox("Консультации", "consultation-service").__checkbox
        +checkbox("Составление документов", "document-service").__checkbox
        +checkbox("Другие услуги", "other-service").__checkbox
      +e.row
        +e.field
          +e.SPAN.label_bold._small Категории права
          +selectbox(getData('request-filter-law-category'))._light._visible
        +e.field
          +e.SPAN.label_bold._small Виды документа
          +selectbox(getData('request-filter-documents'))._light._visible
        +e.field
          +e.SPAN.label_bold._small Регион
          +selectbox(getData('request-filter-region'))._light._scrollable
      +e.row
        +button("button")._blue.__button Применить
