mixin icon-link(icon, text, faClass)
  -var fa = ""
  -if (faClass) {fa = faClass}
  +b.A.icon-link&attributes(attributes)
    - if (icon.length > 0)
      +e.IMG.icon(src=icon)
    - if (fa.length > 0)
      +e.I(class="icon-fa fa fa-" + fa)
    +e.SPAN.text= text
      block
