.menulist {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__item {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 12px;
  }

  &__link {
    font-size: 14px;
    color: $color-font;
    line-height: 1.8em;
    padding-bottom: 3px;
    text-decoration: none;
    letter-spacing: .035em;
    border-bottom: 1px solid rgba($color-font, .2);
    transition: all .25s ease-in-out;
    cursor: pointer;

    &:hover {
      border-color: transparent;
    }
  }

  &_footer {

    .menulist__item:not(:last-child) {
      margin-bottom: 18px;
    }

    .menulist__link {
      line-height: 1.5em;
      border-bottom: none;
      padding-bottom: 0;

      &:hover {
        border-bottom: none;
      }
    }
  }
}
