include ../../blocks/popup/popup
include ../../blocks/block-title/block-title
include ../../blocks/input/input
include ../../blocks/textarea/textarea
include ../../blocks/file-drop/file-drop

mixin popup-academic-degree()
  +popup.popup-academic-degree__#popup-academic-degree&attributes(attributes)
    +block-title("Ученая степень")._bold.__title
    +e.FORM.__form
      +input(type="text" placeholder="Название степени").__input
      +textarea(placeholder="Тема работы")._border.__textarea
      +file-drop("Загрузите подтверждающий документ").__files
