extends ../../layouts/default

block head
  - var pageTitle = 'Wiki Pravo — Заказать'

block content
  +b.order
    +order-form
      +order-candidate
      +order-document
      +order-about
      +order-settings

block page-left
  +sidebar

block page-top
  +header(true)

block page-bottom
  +footer

block page-popups
  +popups
    +popup-login
