include ../../blocks/control-link/control-link
include ../../blocks/page-title/page-title
include ../../blocks/action-controls/action-controls-nonote
include ../../blocks/request-condition/request-condition
include ../../blocks/button/button
include ../../blocks/block-title/block-title


mixin lk-request-head(status)
  +b.lk-request-head&attributes(attributes)
    +control-link("back", "К моим заказам").__nav
    +page-title("Не справедливая оплата труда").__title
    +e.conditions
      +action-controls-nonote("", "", true).__actions
      +request-condition("Другая услуга", "По договоренности", "По договоренности").__text
    +e.status
      case status
        when 'refused1'
          +e.describe
            +block-title("Вам отказали")._little._bolder.__header
            +e.P Ваше предложение не подошло клиенту
          +button("button")._blue.__button В корзину
        when 'refused2'
          +e.describe
            +block-title("Вы отказались от заказа")._little._bolder.__header
          +button("button")._blue.__button В корзину
        when 'invite'
          +e.describe
            +block-title("Вас пригласили")._little._bolder.__header
            +e.P Напишите заказчику, чтобы уточнить детали сотрудничества. Если заявка вам неинтересна, вы можете отказаться от приглашения
          +button("button")._blue.__button Отказаться
        when 'candidate'
          +e.describe
            +block-title("Вас выбрали кандидатом")._little._bolder.__header
            +e.P Вы прошли предварительный отбор. Возможно, вас выберут исполнителем по этому заказу
          +button("button")._blue.__button Отказаться
        when 'answer'
          +e.describe
            +block-title("Вы откликнулись")._little._bolder.__header
            +e.P Ожидайте ответа заказчика
          +button("button")._blue.__button Отказаться
        when 'remove'
          +e.describe
            +block-title("Вы удалили заявку")._little._bolder.__header
          +button("button")._transparent_second.__button Восстановить

