.slider {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  &__controls {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__nav {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__prev, &__next {
    position: relative;
    position: absolute;
    height: 48px;
    width: 21px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    fill: $color-slider-toggles;
    transition: all .25s ease-in-out;
    z-index: 2;
    pointer-events: all;

    &:hover {
      fill: $color-main;
    }
  }

  &__item {
    position: relative;
    flex: 1;
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }
}
