.client-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  background-color: $color-bg-index;
  padding: 50px;

  &__profile {
    margin-bottom: 20px;
  }
}
