extends ../../layouts/default

block head
  - var pageTitle = 'Wiki Pravo — Профиль клиента. Просмотр'

block content
  +b.client-profile
    +request-card(true, true).__profile
    +client-tabs

block page-left
  +sidebar

block page-top
  +header(true)

block page-bottom
  +footer
