.client-tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;

  &__controls {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid rgba($color-font, .15);
    width: 100%;

    .tab-toggles__button {
      padding-top: 15px;
      padding-bottom: 15px;
      width: 194px;
      min-width: 194px;
      margin-bottom: -1px;
    }
  }

  &__tabs-container {
    width: 100%;
    height: auto;
  }

  &__content {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    overflow: hidden;

    &.active {
      display: flex;
    }
  }

  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 14px 40px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
  }

  &__name {
    font-size: 14px;
    letter-spacing: .025em;
    line-height: 1.5em;
    font-weight: 500;
    color: $color-font;
    margin-right: 38px;
  }

  &__button {

    &:not(:last-of-type) {
      margin-right: 85px;

      @include s-desktop {
        margin-right: 35px;
      }
    }

    &:hover {
      color: $color-font;
      font-weight: 500;
    }

    &.active {
      font-weight: 500;
    }
  }

  &__request-list, &__review-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
  }

  &__request-item {
    background-color: #fff;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 37px;
    }
  }

  &__review-list {
    border: 1px solid #e7e7e9;
    margin-top: -2px;
    margin-bottom: 8px;
  }

  &__review-item {
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 30px;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba($color-font, .1);
    }
  }

  &__paginator {
    padding-left: 87px !important;
    padding-right: 87px !important;
  }
}
