.filter-list {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__name {
    font-size: 14px;
    margin-right: 36px;
    font-weight: 500;
    letter-spacing: .04em;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    font-size: 14px;
    letter-spacing: .04em;
    color: $color-main;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 40px;
    }

    a {
      font-size: inherit;
      letter-spacing: .04em;
      color: $color-main;
      transition: all .25s ease-in-out;

      &:hover {
        font-weight: 500;
        color: $color-font;
      }
    }

    &.active {

      a {
        font-weight: 500;
        color: $color-font;
      }
    }
  }

  &_button {

    .filter-list {

      &__name {
        margin-right: 20px;
        margin-bottom: 0;
      }

      &__list {
        background-color: $color-bg-index;
      }

      &__item {
        box-sizing: border-box;
        padding: 19px 39px;
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 0;
          border-right: 1px solid rgba(#858585, .15);
        }

        a {
          border-bottom: 1px solid transparent;
          padding-bottom: 2px;

          &:hover {
            font-weight: 400;
            color: $color-main;
            border-bottom-color: rgba($color-main, .5);
          }
        }

        &.active {
          background-color: $color-main;

          &:not(:last-child) {
            border-right: none;
          }

          a {
            font-weight: 400;
            color: #fff;
            border-bottom-color: transparent;
          }
        }
      }
    }
  }
}
