.like-button {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &__img {
    width: 18px;
    height: 16px;
    margin-right: 8px;
  }

  &__count {
    font-size: 13px;
    line-height: 2.31em;
    letter-spacing: .04em;
  }

  &_like {

    .like-button__img {
      stroke: $color-green-like;
      fill: transparent;
    }

    .like-button__count {
      color: $color-green-like;
    }
  }

  &_dislike {

    .like-button__img {
      stroke: $color-red-dark;
      fill: transparent;
    }

    .like-button__count {
      color: $color-red-dark;
    }
  }
}
