.identification {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;

  &__lead {
    max-width: 910px;
    width: 100%;
    font-size: 14px;
    letter-spacing: .04em;
    line-height: 2em;
    font-weight: 400;
    color: $color-font;
    margin-bottom: 64px;
  }

  &__verify-img {
    display: inline;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    margin-left: 4px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &_help {

      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }

  &__col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

    &_label {
      justify-content: flex-end;
    }

    &_field {
      flex: none;
      min-width: 440px;
      width: 440px;
      margin-left: 30px;
      margin-right: 20px;
    }
  }

  &__help {
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: .04em;
    line-height: 1.5em;
    color: rgba(#b1b1b1, .9);
  }

  &__label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    letter-spacing: .04em;
    font-weight: 500;
    line-height: 1.5em;
    color: rgba($color-font, .75);
    white-space: nowrap;
  }

  &__input, &__file, &__checkbox {
    width: 100%;
  }

  &__checkbox {
    white-space: normal;

    .checkbox__label {
      white-space: normal;
    }
  }

  &__link {
    white-space: nowrap;
  }

  &__selectbox {
    width: 100%;

    &_date {
      width: auto;
      flex: 1;

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &__button {
    width: 100%;
  }
}
