.dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  overflow: hidden;

  &__title {
    margin-bottom: 20px;
  }

  &__comment {
    max-width: 710px;
    width: 100%;
    margin-bottom: 16px;
  }

  &__message {
    width: 100%;
    padding-bottom: 38px;

    .message__title {
      @include tablet {
        flex-wrap: wrap;
        align-content: flex-start;
      }
    }

    .message__checkbox {
      @include tablet {
        margin-left: 20px;
      }
    }

    .file-input__fileselect {
      width: 250px;

      @include tablet {
        flex: 1;
        width: auto;
        max-width: none;
      }
    }

    .message__button {
      @include tablet {
        min-width: 0;
        width: auto;
        max-width: none;
        flex: 1;
      }
    }
  }

  &__spoiler {
    width: 100%;

    .spoiler__content {
      box-sizing: border-box;
      padding-top: 12px;

      .dialog__comment {

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &_long {

    .dialog__comment {
      max-width: 872px;
      width: 100%;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;

    @include desktop {
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }

  &__files {
    display: none;

    @include desktop {
      width: 100%;
      margin-right: 0;

      .button {
        flex: 1;
        min-width: auto;
        max-width: none;
      }
    }
  }

  &__button {

    &_write {
      display: inline-flex;
    }
  }

  &_second.opened {

    .dialog {

      &__files {
        display: flex;
      }

      &__button {

        &_write {
          display: none;
        }

        &_open {
          margin-top: auto;
          height: 55px;
        }
      }
    }
  }

  &_second {

    .dialog {

      &__comment {
        max-width: none;
        width: 100%;
        margin-bottom: 20px;
      }

      &__actions {
        width: 100%;

        .file-input__fileselect {
          width: 250px;
          min-width: 250px;
        }
      }

      &__content {
        overflow: hidden;
        width: 100%;
      }

      &__message {
        padding-top: 8px;
        padding-bottom: 0;
        width: 100%;

        .message__form {
          width: 100%;
        }

        .message__textarea {
          width: 100%;
          max-width: none;
        }
      }

      &__button {

        &_write {
          width: 224px;
        }

        &_open {
          padding: 11px 0;
          margin-top: 0;
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
}
