include ../jurist-card/jurist-catalog-card

mixin catalog-cards()
  +b.catalog-cards&attributes(attributes)
    +jurist-catalog-card(getData("jurist"))
    +jurist-catalog-card(getData("jurist"))
    +jurist-catalog-card(getData("jurist"))
    +jurist-catalog-card(getData("jurist"))
