.section-title {
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: .04em;
  font-weight: 400;
  color: $color-font;
  text-align: center;

  &_left {
    text-align: left;
  }

  &_right {
    text-align: right;
  }

  &_bold {
    font-weight: 500;
  }

  &_bolder {
    font-weight: 700;
  }

  &_big {
    font-size: 15px;
  }

  &_biger {
    font-size: 16px;
  }

  &_small {
    font-size: 13px;
  }

  &_dark {
    color: #08090d;
  }
}
