.contacts-block {
  color: #fff;

  &__item {
    display: block;
    position: relative;
    padding-left: 41px;

    &:not(:first-child) {
      margin-top: 29px;
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__label {
    font-size: 16px;
    font-weight: 500;
    line-height: 1em;

    &_big {
      font-size: 22px;
    }
  }

  &__text {
    color: rgba(white, .5);
    font-size: 13px;
    line-height: 1.2em;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}
