.contacts-block {
  &_dark {
    color: #fff;

    .contacts-block__text { color: rgba(white, .5); }
  }

  &_icons .contacts-block__item {
    padding-left: 40px;
  }

  &__item {
    display: block;
    position: relative;

    &:not(:first-child) {
      margin-top: 29px;
    }
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 0;
    transform: translateX(-50%);
    background-color: rgba(white, .1);  // Убрать, когда появится иконка
  }

  &__label {
    font-size: 16px;
    font-weight: 500;
    line-height: 1em;

    &_big {
      font-size: 22px;
      font-weight: 400;

      @include s-desktop {
        font-size: 20px;
      }
    }

    &_bigger {
      font-size: 25px;
      font-weight: 400;
      letter-spacing: 0;

      & + .contacts-block__text:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  &__text {
    color: rgba(#1f1e26, .6);
    font-size: 13px;
    line-height: 1.2em;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}
