include ../../blocks/entitled-text/entitled-text
include ../../blocks/form/form
include ../../blocks/button/button

mixin order-form()
  +b.order-form&attributes(attributes)
    +entitled-text([{"title" : "Заказать консультацию", "paragraph" : [{"text": "Если у вас есть вопрос, на который вы хотите получить ответ от юриста, заполните заявку и получите предложения юристов со всей России!"}]}])._title._grey.__title
    +form#order.__form
      block
      +button("button")(type="submit" data-open-popup="popup-order-success")._blue.order-form__button.js-popup-open Готово
