.order-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 35px;

  &_hide-header {
    .entitled-text  {
      display: none;
    }
  }

  &__title {
    width: 50%;
    margin-bottom: 38px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
  }
}
