.skill {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__title {
    font-size: 20px;
    line-height: 1.78em;
    font-weight: 500;
    letter-spacing: .035em;
    margin-bottom: 4px;
    color: $color-font;
    width: 100%;
  }

  &__content, &__files {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    margin-bottom: 16px;
  }

  &__files {
    box-sizing: border-box;
    padding-left: 68px;
  }

  &__control {
    min-width: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 30px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 40px;
    flex: 1;

    p {
      font-size: 14px;
      line-height: 1.78em;
      letter-spacing: .035em;
      font-weight: 400;
      color: rgba(#000, .35);
      margin-right: 50px;
      width: 100%;
    }
  }

  &__checkdata {
    min-width: 165px;
    margin-left: auto;
  }

  &__nofiles {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .04em;
    line-height: 1.78em;
    color: #c2c2c2;
    padding-left: 30px;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 19px;
      min-width: 19px;
      height: 19px;
      background-color: #c2c2c2;
      border-radius: 50%;
      transform: translate(0, -50%);
    }
  }

  &_edit {

    .skill_title {
      box-sizing: border-box;
      padding-left: 68px;
    }
  }
}
