include ../verify/verify

mixin skill(data)
  -var checkType = "";
  -var checkText = "";
  -var checkData = "";
  -var checkClass = "";
  +b.SECTION.skill&attributes(attributes)
      +e.H3.title= data.title
      each item in data.content
        +e.content
          +e.text
            each txt in item.text
              +e.P= txt
          +verify(item.check).__checkdata
