mixin skill(data)
  -var checkType = "";
  -var checkText = "";
  -var checkData = "";
  -var checkClass = "";
  +b.SECTION.skill&attributes(attributes)
      +e.H3.title= data.title
      each item in data.content
        +e.content
          +e.text
            each txt in item.text
              +e.P= txt
          -if(item.check) {checkData = item.check;
            -if(checkData == "true") {checkType = "check"; checkText = "Проверено"; checkClass = "check"} else {checkType = "times"; checkText = "Не проверено"; checkClass = "cross"}
              +e(class="checkdata_" + checkClass)
                +e.icon-wrapper
                  +e.I(class="icon " + "fa fa-" + checkType)
                +e.SPAN= checkText
          -}

